[2013-09-16 10:45] atomotic opened #1 "JDBC driver class could not be found"
do i need to download myself an Access jdbc driver?

[code]

[2013-11-18 17:04] hsilva-keep opened #2 "The DBML generated by the db-preservation-toolkit (xml file) is not semantically valid"
xmllint --noout DBML.xml

[code]

[2014-11-18 10:57] tlauritzen opened #4 "java.lang.NullPointerException when exporting database"
Hi.

As part of the E-ARK project (http://eark-project.com/) I am trying out the keeps/db-preservation-toolkit.

When trying to export an Alfresco MySQL database I get the following error:

INFO 2014-11-17 13:19:06,747 (Main) Translating database: MySQLJDBCImportModule to DBMLExportModule
ERROR 2014-11-17 14:30:25,105 (Main) Unexpected exception
java.lang.NullPointerException
    at org.apache.com

[2014-11-19 11:11] #2 closed, assigned to nobody

[2014-11-19 11:21] #4 closed, assigned to nobody

[2014-11-25 07:12] tlauritzen opened #5 "Need SIARD support"
Hi.

I need to have SIARD support integrated into the db-preservation-toolkit. I can see, that there is already a pull request for such a feature: https://github.com/keeps/db-preservation-toolkit/pull/3

Would you please consider merging this int the toolkit? I am using an Alfresco database for testing, and I might as well test the SIARD support as well :-)
- Torben/e-ark

[2014-11-27 14:28] #1 closed, assigned to nobody

[2014-12-03 11:45] #5 closed, assigned to nobody

[2014-12-05 10:11] luis100 opened #7 "No user or privileges defined"
When exporting from SIARD to PostgreSQL, the created database has no privileges defined.

[2014-12-05 11:25] luis100 opened #8 "Setting different schema names"
When round-trip testing from DBMS to SIARD and back again, schema names are being suffixed by "_dbpresexport" in at least PostgreSQL and MSSQLServer. In PostgreSQL this creates difficulties when accessing the database.

[2014-12-05 11:28] luis100 opened #9 "Column type change in PostgreSQL"
When round-trip testing PostgreSQL to SIARD and back again, the following column data types change:
* `character varying` becomes `text`
* `bigint` becomes `numeric(19,0)

[2014-12-05 11:32] luis100 opened #10 "Missing SEQUENCE in SIARD to PostgreSQL"
When round-trip testing from PostgreSQL to SIARD and back, SEQUENCES are missing.

Check if this is a problem or if SEQUENCE is not considered to be a significant property.

[2014-12-05 11:34] luis100 opened #11 "Missing UNIQUE constraint"
When roud-trip testing from PostgreSQL to SIARD and back again, UNIQUE constraints on columns are missing. This may occur with other DBMS but it was only verified in PostgreSQL.

[2014-12-05 12:04] luis100 opened #12 "On string types, NULL values appear as empty strings"
When round-trip testing from a DBMS to SIARD and back, on data inserts NULL values are inserted not as NULL but as empty strings `''`. This occurs in all DBMS tested: PostgreSQL, MySQL and MSSQLServer.

[2014-12-05 12:08] luis100 opened #13 "Lost precision on dates"
On round-trip testing from PostgreSQL to SIARD and back again, dates loose precision (milliseconds are lost). Example `2014-11-27 11:12:38.373` become `2014-11-27 11:12:38.37`. Other DBMS may also have this problem.

[2014-12-05 12:11] luis100 opened #14 "MySQL database name is suffixed"
When round-trip testing from MySQL to SIARD and back again, database name gets suffixed by the database original name. Example: `alfresco_siard` becomes `alfresco_siard_alfresco`, original database name was `alfresco`.

[2014-12-05 12:15] luis100 opened #15 "SimpleTypeBinary not supported by SIARD Import module"
When testing export from SIARD to MySQL on a database with BLOBs, the following error occurred:
[code]

[2014-12-05 12:17] luis100 opened #16 "NullPointerException when converting SIARD to MySQL"
When round-trip testing from MySQL to SIARD and back again, the following error occurred on the SIARD to MySQL conversion:

[code]

[2014-12-05 12:19] luis100 opened #17 "Missing charsets on SIARD to MySQL conversion"
When round-trip testing from MySQL to SIARD and back again, column charset definition are missing. Example: missing `COLLATE utf8_bin`.

Also, default charset changed from utf8 to latin1.

[2014-12-05 12:20] luis100 opened #18 "Missing some DEFAULT definition when converting from SIARD to MySQL"
When round-trip testing from MySQL to SIARD and back again, missing some DEFAULT declaration on column type definitions. Example, missing `DEFAULT ''`.

[2014-12-05 12:22] luis100 opened #19 "Foreign keys not exported on SIARD to MySQL conversion"
When round-trip testing from MySQL to SIARD and back again, foreign keys were not found on table definition.

[2014-12-05 12:25] luis100 opened #20 "Column type change in MySQL"
When round-trip testing from MySQL to SIARD and back again, the following column data types changed:
* `tinyint(4)` became `smallint(6)`
* `bigint(20)` became `decimal(19,0)`
* `timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP` became `datetime NOT NULL`
* `tinyint(1)` became `bit(1)`
* `blob` became `longblob`

[2014-12-05 12:26] luis100 opened #21 "Missing autoincrement on SIARD to MySQL conversion"
When round-trip testing from MySQL to SIARD and back again, AUTO_INCREMENTS are exported.

[2014-12-05 12:28] luis100 opened #22 "Possibly lost one hour on date values in SIARD to MySQL conversion"
When round-trip testing from MySQL to SIARD and back again, and column type changed from timestamp to datetime, the value of the insert changes one hour, but it is possibly due to the difference on the data types. Example: `2014-08-27 11:04:23` becomes `2014-08-27 12:04:23`.

[2014-12-05 14:15] luis100 opened #23 "Unsupported varbinary(max) on MSSQLServer to SIARD conversion"
When converting from MSSQLServer to SIARD, columns of the type `varbinary(max)` are mapped into SIARD type `BIT VARYING(-8)`, which does not make sense.

[2014-12-05 14:18] luis100 opened #24 "Error converting data from SIARD to MSSQLServer"
When converting from SIARD to MSSQLServer the following error occurred:
[code]

[2014-12-05 14:21] luis100 opened #25 "Triggers and stored procedures were not exported on SIARD to MSSQLServer convertion"
When round-trip testing from MSSQLServer to SIARD and back, triggers and stored procedures were converted into SIARD, but they were not converted back to MSSQLServer.

[2014-12-05 14:24] luis100 opened #26 "Column type change in MSSQLServer"
When round-trip testing from MSSQLServer to SIARD and back, the following changes occurred on the column data types:
- `[bigint]` became `[decimal](19, 0)`
- `[nvarchar](max)` became `[text]`
- `[nvarchar](50)` became `[varchar](50)`
- `[datetime]` became `[datetime2](7)`
- `[tinyint]` became `[smallint]`

[2014-12-05 14:26] luis100 opened #27 "Missing IDENTITY (autoincrement) on MSSQLServer"
When round-trip testing from MSSQLServer to SIARD and back, IDENTITY definitions are lost.

Check if this is a problem or if IDENTITY (autoincrement) is not a significant property.

[2014-12-05 14:28] luis100 opened #28 "Missing primary key constraint names in MSSQLServer"
When round-trip testing from MSSQLServer to SIARD and back, the name of the primary key constraints is lost. Example: `CONSTRAINT [PK_Bibliography_1] PRIMARY KEY CLUSTERED > PRIMARY KEY CLUSTERED`.

[2014-12-05 14:29] luis100 opened #29 "Missing DEFAULT column type definition in MSSQLServer"
When round-trip testing from MSSQLServer to SIARD and back, missing definition of DEFAULT values on column data type declarations.

[2014-12-05 14:31] luis100 opened #30 "VIEWS are missing in MSSQLServer"
When round-trip testing from MSSQLServer to SIARD and back, missing declarations of VIEWS. This may also happen in other DBMSs.

[2014-12-05 14:36] luis100 opened #31 "Missing ANSI_PADDING definition on MSSQLServer"
When round-trip testing from MSSQLServer to SIARD and back, missing definition of ANSI_PADDING. Example: `SET ANSI_PADDING ON`.

Check if this is a problem or if ANSI_PADDING is not a significant property.

[2014-12-13 20:23] jcramalho opened #32 "Erroneous default message when dbtoolkit is called with no parameters"
Concerning SIARD import and export modules the displayed message is:
    SIARD dir

which can be misleading since the argument should be a complete pathname and not a directory.

Suggestion:
    SIARD pathname

[2015-01-12 16:25] Chlara opened #33 "Missing complexType "clobType” or "blobType" in table.xsd (SIARD Output)"
If "clobType” or "blobType" are used in the complexType “rowType” then the table.xsd must contain the complexType "clobType” or "blobType".

Wrong / v2.0-rc2:
[code]

Correct:
[code]

[2015-01-12 17:34] hsilva-keep commented on #33
Dear @Chlara
We have fixed that problem precisely in tag v2.0-rc2. Can you please make sure that you're using that same code (see if the following file/line matches your source code: https://github.com/keeps/db-preservation-toolkit/blob/master/src/main/java/pt/gov/dgarq/roda/common/convert/db/modules/siard/out/SIARDExportModule.java#L1116 ; also, please make sure that the version you're using is c

[2015-01-13 18:18] #8 closed

[2015-01-14 15:02] Chlara commented on #33
Dear @hsilva-keep
My college has tested rc1 :-(
so this Issue is closed.
Chlara

[2015-01-14 15:02] #33 closed

[2015-01-21 16:17] luis100 commented on #14
This may have been fixed at 66debf5067369f2bf561b0ab6dedae03eaeeb4e9, but a test is needed to check it.

[2015-01-21 17:57] luis100 opened #34 "Arrays are not supported"

[2015-01-29 14:49] luis100 commented on #34
@Chlara does the SIARD specification support arrays? How should an array be encoded in XML?

[2015-02-11 09:46] Chlara commented on #34
@luis100
The array is an issue (RFC 2014-110) for SIARD 2.0. The Issues are now published on the official eCH-Site: http://www.ech.ch/vechweb/page?p=dossier&documentNumber=eCH-0165&documentVersion=1.0 .
Chlara

[2015-02-11 10:05] Chlara commented on #5
The eCH-0165 SIARD Format Specification v1.0 is now available in English: http://www.ech.ch/alfresco/guestDownload/attach/workspace/SpacesStore/3b8dc8fb-d5df-4748-91f9-23c124b0f275/STAN_e_DEF_2015-02-04_eCH-0165_V1%200_SIARD-Format.pdf

[2015-02-11 14:24] luis100 commented on #34
@Chlara in the meanwhile for SIARD 1.0, what should be the type of the column of an ARRAY type, or for any other unsupported type, like the PostgreSQL GIS types (e.g. polygon and circle)?

Right now we are defining the column as CHARACTER VARYING(40) and dumping the textual serialization of the cell, which for something like a circle would become `<(1,1),1>`. But I guess it would be more proper to

[2015-02-12 13:51] Chlara commented on #34
@luis100
My Colleague @mkaiser56  will answer your question on Monday because I will be absent for one week.
Chlara

[2015-02-12 15:13] #12 closed

[2015-02-12 16:37] #28 closed

[2015-03-05 14:54] Chlara opened #35 "SIARD: Simple ZIP data compression (8 Deflate) is now allowed"
@luis100
Hi Luis
With the SIARD-Addendum (Addendum_2015-01-23_eCH-0165_V1.0_SIARD-Formatspezifikation.pdf) a simple ZIP data compression (8 Deflate) is now allowed.
Linke to German Addendum: http://www.ech.ch/alfresco/guestDownload/attach/workspace/SpacesStore/7822a908-cf37-4146-9dab-90a5763380f2/Addendum_2015-01-23_eCH-0165_V1.0_SIARD-Formatspezifikation.pdf
Chlara

[2015-05-27 13:55] #14 closed

[2015-07-02 12:05] chalkos commented on #35
fixed by #37

[2015-07-02 12:05] #35 closed

[2015-08-13 10:24] chalkos opened #44 "Change all Vector to ArrayList"

[2015-08-13 10:26] chalkos opened #45 "Change SIARDArchiveContainer.OutputContainerType names"
from INSIDE_ARCHIVE, OUTSIDE_ARCHIVE
to MAIN, ATTACHMENT (or something better)

[2015-08-13 10:38] chalkos opened #46 "Remove all JAXB code and make the code generation in a maven task."

[2015-08-13 10:41] chalkos opened #47 "Capitalize sql99toXSDType class"

[2015-08-13 10:49] chalkos opened #48 "throw exception when a unsupported data type is found"

[2015-08-13 10:52] chalkos opened #49 "add open and close schema, also add it on database handler"

[2015-08-13 11:05] chalkos opened #50 "Change Set to List"

[2015-08-13 11:07] chalkos commented on #46
make it so that the package name matches the namespace of the XML schema

[2015-08-13 11:11] chalkos opened #51 "Togglable PrettyPrint in SIARD1ContentExportStrategy"

[2015-08-13 11:24] chalkos opened #52 "Add write strategy as an argument to both metadata strategies methods"
instead of passing it in the constructor.

[2015-08-13 11:36] chalkos opened #53 "use Files.copy(), reading directly from xsdSchema path in Export module"
then if IOUtils is unused, remove it from the dependencies

[2015-08-13 11:43] chalkos opened #54 "Testing environments"
Add different testing groups/suites/configurations so that the tests that depend on databases (and maybe other future tests with external dependencies) don't run unless we specifically ask maven to run them.

[2015-08-13 11:49] chalkos opened #55 "Fix "magic numbers""

[2015-08-13 11:53] chalkos opened #56 "Don't initialize variables"
Do this for variables that are eventually defined. The purpose of this is to have a compile time error in some future code if a code path is added that does not set the variable.

[2015-08-13 11:59] chalkos opened #57 "Move String literals to constants"

[2015-08-13 12:01] chalkos opened #58 "Scalable ReadStrategy#listFiles"
Due to scalabily concerns, change to a closeable iterable (new interface) or a directorystream http://docs.oracle.com/javase/7/docs/api/java/nio/file/DirectoryStream.html

[2015-08-13 12:10] chalkos commented on #47
fixed in #43

[2015-08-13 12:10] #47 closed

[2015-08-13 12:20] #56 closed

[2015-08-13 12:25] #50 closed

[2015-08-13 12:32] #44 closed

[2015-08-13 13:33] #45 closed

[2015-08-13 13:39] chalkos commented on #53
used in ```byte[] bytes = IOUtils.toByteArray(inputStream);``` so it can not be removed as a dependency

[2015-08-13 13:42] chalkos commented on #53
also used when copying data from a LOB inputstream to an output stream

[2015-08-13 13:43] #53 closed

[2015-08-13 14:00] #48 closed

[2015-08-13 15:09] #52 closed

[2015-08-13 16:30] #54 closed

[2015-08-14 14:14] #51 closed

[2015-08-14 14:41] #58 closed

[2015-08-14 15:45] #49 closed

[2015-08-17 09:49] chalkos commented on #46
may be possible to achieve using https://github.com/highsource/maven-jaxb2-plugin
it may also be necessary to divide the project into 2 subprojects, one for the database preservation toolkit and the other one to convert xsd to POJOs and generate a .jar

[2015-09-03 10:35] #46 closed

[2015-09-03 10:39] chalkos opened #62 "Better XMLBufferedWriter"
Put attributes as arguments of the openTag(String, Attribute...) and automatically calculate indentation level.

[2015-09-03 10:43] chalkos opened #63 "Better ZipAndFolderReadStrategy"
Delegate to a FolderReadStrategy instead of implementing it in this class.

[2015-09-03 10:44] chalkos opened #64 "Does the zip read strategy really support simultaneous reading?"

[2015-09-03 10:45] chalkos opened #65 "Lazier read strategy"
Remove setup(SIARDArchiveContainer) from the ReadStrategy, make a lazy loading/setup when such is required by the other methods. Be aware that the lazy loading must be threat-safe (synchronized lazy load method).

[2015-09-03 10:46] chalkos opened #66 "Use XMLBufferedWriter in SIARD2ContentExportStrategy"
It's missing in writeLargeObjectData

[2015-09-28 14:30] stumpdk opened #70 "Needed: Working example for rc"
Maybe it's just me, but I can't get the newest version to work with the example given in the readme.

I use these parameters:

java -jar db-preservation-toolkit-2.0.0-jar-with-dependencies.jar -i MySQLJDBC -ihostname=127.0.0.1 -idatabase=mydatabase -iusername=root -ipassword=somepassword iport-number=3306 -o SIARD example.siard

And get this error:
Exception in thread "main" java.lang.NumberFormat

[2015-09-28 14:35] andersbonielsen commented on #70
Hej Bo

Hvis du har brug for en dansk kontaktperson, så kan du skrive til mig.
Jeg har også kontakten til danske Magenta, som står for at lave en variant af db-preservation-toolkit, så den lettere (ikke 100%) kan anvendes med bek. 1007.

[cid:image001.jpg@01D0FA0B.A19846C0]
Anders Bo Nielsen
chefkonsulent
Indsamling og Bevaring

Telefon: 33 92 33 10  | Direkte: 41 71 72 35
abn@sa.dk<mailto:abn@sa.

[2015-09-28 14:49] stumpdk commented on #70
Hej Anders Bo
Er den danske udgave open source, og hvis ikke, er der en grund til, at de ikke bidrager til Database Preservation Toolkit i stedet?

Venlig hilsen Bo

[2015-09-28 15:15] chalkos commented on #70
@stumpdk The releases were out of date. I have added a new release based on the most recent version of the code: https://github.com/keeps/db-preservation-toolkit/releases/tag/2.1.1

[2015-09-28 15:15] #70 closed

[2015-09-28 15:20] luis100 commented on #70
@stumpdk support for the Danish version of SIARD, being developed by Magenta, is going to be merged into the main version of this tool soon. Please note that none of the input/output modules of SIARD (versions 1.0, DK and 2.0)  is final, we are still undergoing development. So please take this under consideration when testing the tool.

[2015-09-28 21:37] stumpdk commented on #70
Thank you very much for the new release. It works like a charm!

[2015-09-28 21:38] stumpdk commented on #70
I look forward to the danish implementation of the Siard standard.

Thanks again for your reply.

[2015-09-29 10:26] chalkos commented on #9
#60 adds support for these changes so the roundtrip test expects the type to change from `character varying` to `text`, `bigint` to `numeric(19,0)`, etc

that pull request only fixes one postgreSQL problem (`"char"` becoming `character(1)`), but it makes it trivial to add more rules for the other two cases in here.

[2015-10-29 11:33] chalkos opened #77 "Dependency shading in plugin example"
see http://stackoverflow.com/questions/13620281/what-is-the-maven-shade-plugin-used-for-and-why-would-you-want-to-relocate-java

[2015-11-02 17:28] jmaferreira opened #78 "Error while importing from SQLServer 2012"
[code]

[2015-11-03 11:43] chalkos opened #79 "Non-destructive behavior by default in SIARD-DK"
In SIARD-DK export module:

If the SIARD-DK output folder already exists it is deleted. I think the conversion should instead be aborted with some message like "invalid folder name, valid patterns are ...". This way if someone specifies an invalid folder name they get a user-friendly error message.

To allow the destructive behavior when the folder exists, there could be a command line argument (l

[2015-11-03 11:44] chalkos commented on #79
moving this to siard dk fork

[2015-11-03 11:47] chalkos commented on #79
@andreaskring We've talked about this in an email. I added it here so we don't lose track of these things.

[2015-11-03 11:53] chalkos opened #80 "Better description for folder command line argument in SIARDDK export module"
In SIARDDK export module:

The description for the output folder name parameter should explain the pattern for the folder name, otherwise there is no way of knowing this unless one reads the SIARDDK specification very carefully.

I would also suggest throwing a ModuleException with a user-friendly message if the folder name does not match the pattern.

[2015-11-03 11:53] chalkos commented on #80
@andreaskring We've talked about this in an email. I added it here so we don't lose track of these things.

[2015-11-03 14:32] luis100 opened #81 "Support JDBC import and export module"
Add support for a JDBC import and export module, with the warning that no special handling will be made, which may introduce errors or unexpected behavior.

The JDBC import and export module can receive as argument the connection string and drivers can be added via the classpath. Add examples of this to the README.

[2015-11-03 16:04] chalkos opened #82 "Restore support for Microsoft Access"

[2015-11-04 10:32] luis100 opened #83 "Change name of provided assembly"
Change the name of the generated assembly (i.e. fat-jar) to `dbptk-app-X.Y.Z.jar`

See possible [instructions](http://stackoverflow.com/questions/20697144/can-not-set-the-final-jar-name-with-maven-assembly-plugin). Review README when done.

[2015-11-04 10:43] luis100 opened #84 "Support simplest version of LOBs"
Add support for the simplest way to have LOBs, including import and export.

[2015-11-04 10:45] luis100 opened #85 "Include simplest version of UDT"
Add support for the simplest way to get UDT information from JDBC, and to integrate it back to JDBC when reading it from SIARD (i.e. import and export)

[2015-11-04 10:47] luis100 opened #86 "Add a graphical user interface"
Add a GUI to the dbptk, which includes all features of CLI.
The GUI should open when the jar is called with no parameters.
Normal syntax will only be shown when jar is called with -h or --help

[2015-11-06 10:52] luis100 commented on #86
Interface can follow the mockup available at [db-preservation-toolkit GUI.pdf](https://github.com/keeps/db-preservation-toolkit/files/28794/db-preservation-toolkit.GUI.pdf).

A prototype implementation of the mockup is available at [db-preservation-toolkit-gui](https://github.com/keeps/db-preservation-toolkit-gui).

[2015-11-06 11:38] #84 closed

[2015-11-06 11:46] luis100 opened #88 "Add support for Oracle"
Simple support to enable first tests on migrating to SIARD.

[2015-11-06 11:47] chalkos opened #89 "Use SQL2003 in SIARD2"
Most SIARD2 code is still using SQL99. It should be using SQL2003, otherwise the creation of the SIARD archive fails.

[2015-11-09 10:39] chalkos opened #90 "Use NIO.2 in com.databasepreservation.model.data.FileItem"

[2015-11-09 12:30] #78 closed

[2015-11-09 12:40] #83 closed

[2015-11-12 10:58] luis100 opened #94 "Better output from the CLI"
Make a better output of CLI by using two appenders in Log4J:
* Make logs of error messages become two logs: one of level ERROR and with a small but insightful message into the error, and another of level DEBUG and with the stack-trace.
* Make two appenders and two loggers, one for STDOUT with level INFO and with a pattern optimized for users: no milliseconds, no class names; and another for FILE w

[2015-11-12 11:26] luis100 opened #95 "Avoid failure when user does not have permissions to access the users list"
Right now, for DBPTK to be able to get the users to put on SIARD it needs access to some privileged tables that list all users. Change this so it does not fail on the user does not have permission to access this information.

Current needed special permissions:
[code]

[2015-11-12 11:32] chalkos commented on #95
Same happens in Postgresql

[2015-11-12 11:43] chalkos opened #96 "Error importing SIARD2"
Steps to reproduce:

1. Export MSSQL server to SIARD2
2. Export SIARD2 to something else

When exporting SIARD2 the following error occurs
[code]

[2015-11-12 11:51] chalkos commented on #96
Same happens when:

1. Export MySQL (sakila) to SIARD2
2. Export SIARD2 to something else

[2015-11-13 12:01] #81 closed

[2015-11-13 12:03] #89 closed

[2015-11-13 12:15] luis100 opened #97 "Remove mention of DBML in README"

[2015-11-16 12:15] #97 closed

[2015-11-16 12:16] chalkos commented on #97
Fixed by #99

[2015-11-17 16:31] #88 closed

[2015-11-17 16:35] chalkos commented on #94
Fixed by #100

[2015-11-17 16:35] #94 closed

[2015-11-17 17:46] chalkos commented on #96
Fixed by #91

[2015-11-17 17:46] #96 closed

[2015-11-18 14:07] luis100 commented on #95
The issue still remains as it fails when use does not have permissions to access table 'tables_priv' on the mysql database.

[code]

[2015-11-18 15:01] chalkos commented on #95
That ERROR is not fatal and is ignored, behaving more like a WARNING.
When the user does not have permissions to list database permissions the application ignores that part.

[2015-11-18 23:50] chalkos opened #102 "Do not overwrite old log on startup"
And include debug messages in the log file to help identify the beginning and end of one execution.

[2015-11-19 15:04] chalkos opened #103 "ORA-12514, TNS:listener does not currently know of service requested in connect descriptor"
command:

[code]

the error occurs after the message "STARTED: Getting the database structure.":

[code]

[2015-11-19 18:04] chalkos opened #105 "NullPointerException converting mysql to SIARD1"
Stacktrace:
[code]

[2015-11-20 15:32] #103 closed

[2015-11-20 15:39] luis100 opened #106 "Detecting a column as type DECIMAL(0) in Oracle"
While exporting from Oracle a column type was detected as type `DECIMAL(0)` which is invalid taking into consideration the valid patterns for SQL types which mandate the size of a DECIMAL to be greater than 0.

[2015-11-20 15:41] #102 closed

[2015-11-23 11:02] chalkos commented on #106
Maybe including information about the conversion of types to SQL99 and SQL2003 will help fix issues like this one in the future.

[2015-11-24 16:01] jmaferreira opened #108 "Wrong file separator being used on windows"
ERROR [15:50:13] Error while importing/exporting
                 XSD file has errors: \schema\siard2-metadata.xsd
                 schema_reference.4: Failed to read schema document 'null', because 1) could not find the document; 2) the document could not be read; 3) the root element of the document is not <xsd:schema>.

[2015-11-26 14:16] #95 closed

[2015-11-26 14:16] #105 closed

[2015-11-26 14:16] #106 closed

[2015-11-26 15:38] chalkos opened #109 "Better error message when output file is in use"
The error message:

[code]

This happens when the SIARD output file already exists and is in use (locked).

Should change STORE to something better.

[2015-11-30 12:32] #108 closed

[2015-12-03 11:49] chalkos opened #111 "Recursive User Defined Types"
The strategy to get UDT data is to select each field individually, ie: for a struct type named `PAIR` defined like `{left VARCHAR, right INT}` and a column name `thepair` the select query is something like
`SELECT (thepair).left, (thepair).right FROM table;` (PostgreSQL syntax).

For recursive UDTs this does not work. Example:

for a struct type named `LIST` defined like `{head VARCHAR, tail LIST

[2015-12-07 01:01] chalkos commented on #82
The unsupported datatypes seem to be some kind of UDT that does not exist in all Access databases.

[2015-12-07 12:22] chalkos opened #113 "SIARD table data is not validated against XSD"
This will take additional time to validate after the siard is created. Maybe providing an extra parameter could be the way to go.

This applies to (at least) siard 1 and 2.

[2015-12-12 16:02] hsilva-keep opened #114 "SIARD-DK export module option details is wrong"
Using suggested pattern for export folder name
[code]
generates an error stating that the folder name does not match expression (also here there is a lack of coherence 'pattern' vs. 'expression')
[code]

[2015-12-12 16:04] chalkos commented on #114
duplicate. see #79

[2015-12-12 16:07] chalkos commented on #114
@hsilva-keep sorry, it's related but not a duplicate.
@andreaskring could you look into this?

[2015-12-12 16:09] chalkos commented on #114
@hsilva-keep the patterns seem to differ. The documentation reads `AVID.[A-ZÆØÅ]{2,4}.[1-9][0-9]*` but the error reads `AVID.[A-ZÆØÅ]{2,4}.[1-9][0-9]*.[1-9][0-9]*` have you tried both?

[2015-12-13 13:17] hsilva-keep commented on #114
@chalkos Firstly I've tried the pattern suggested by the dbptk usage/help information. Which lead to the error I've posted before. And doing as suggested in the error message, i.e. using the other pattern, indeed I was able to run the command with success.

[2015-12-15 16:57] luis100 commented on #31
This is not to be archived, ignore this property on tests.

[2015-12-15 16:57] #31 closed

[2015-12-22 08:16] PhillipTommerholt commented on #114
The title describes the problem well:
SIARD-DK export module option details is wrong.

@hsilva-keep the pattern you succeded with: AVID.[A-ZÆØÅ]{2,4}.[1-9][0-9]*.[1-9][0-9]* is indeed the correct pattern according to SIARDDK, so the change will have to be made in the description of the export module options.

[2015-12-22 11:02] hsilva-keep commented on #114
@PhillipTommerholt #80 is indeed related but only states that the description should be improved whilest I'm stating that the description is wrong.

[2015-12-22 11:49] PhillipTommerholt opened #115 "MySQL import problem"
I experience problems in the import from MySQL.

I have successfully imported/exported via another tool, so it could be a bug in db-preservation-toolkit.

                 SQL error while conecting
                 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'list of products' at line 1

See logfile:
[dbptk

[2015-12-22 14:33] chalkos opened #116 "SIARDDK should escape identifiers in queries"
Originally reported by @PhillipTommerholt

log file: [dbptk-app.txt](https://github.com/keeps/db-preservation-toolkit/files/69782/dbptk-app.txt)

[2016-01-06 08:10] PhillipTommerholt opened #117 "Export: UNICODE space character hex value 20 wrongly escaped in table data"
There seem to be problems with escaping in export from Microsoft SQL Server to SIARD1.0 and SIARD2.0.

This is an extract for the first row from table Categories:

`<row><c1>1</c1><c2>Beverages</c2><c3>Soft\u0020drinks,\u0020coffees,\u0020teas,\u0020beers,\u0020and\u0020ales</c3><c4 file="content\schema1\table1\lob4\record1.bin" length="10151"/></row>`

The escaped `\u0020` in c3 should only be us

[2016-01-06 15:39] #82 closed

[2016-01-06 15:39] #85 closed

[2016-01-07 00:55] chalkos opened #118 "Error while exporting candidate key: check constraint condition cannot be null"
The problem happens when trying to convert MS SQL Server to SIARD and is related to the existence of constraints in the database. Removing the constraints allowed the conversion process to successfully complete.

Log file: [dbptk-app.log.txt](https://github.com/keeps/db-preservation-toolkit/files/80583/dbptk-app.log.txt)
Reported by @PhillipTommerholt

[2016-01-07 15:21] andreaskring commented on #116
@PhillipTommerholt This issue should be fixed now. If you would like a version of the code that handles this now (before the change gets merged into the master branch), you can get it from the the magenta-aps forked project like this:

$ git clone https://github.com/magenta-aps/db-preservation-toolkit.git
$ cd db-preservation-toolkit
$ git fetch origin develop
$ git checkout develop
 and then run

[2016-01-20 19:37] ThomasKristensen opened #120 "Unable to complete round-trip test in PostgreSQL (9.5.0) with sample world databse."
The steps carried out / to reproduce is included below.
The output - including the error messages produced by dptkl - is included in the attached pdf-file (console-out.pdf).
[console-out.pdf](https://github.com/keeps/db-preservation-toolkit/files/97973/console-out.pdf)

    #!/bin/bash

    java -version
    psql --version
    mvn -version

    #import world db to local PostgreSQL-server
    wget

[2016-01-27 16:34] ThomasKristensen opened #121 "SIARDDK: Scientific notation is not allowed, when exporting decimal numbers to xml file."
I'm using https://www.w3.org/TR/xmlschema-2/#decimal as a reference (it that the correct reference?).

"Bekendtgørelse om arkiveringsversioner" (Bekendtgoerelse-nr-1007-af-20-august-2010.pdf), p. 10 states that all decimal types must be mapped to XML-datatype 'decimal'.

When exporting from PostgreSQL 9.5, db-type 'real' can be exported using scientific notation. See column c5 in the example below

[2016-02-04 16:26] chalkos commented on #120
It's a known bug. Will fix it soon.

[2016-02-04 16:27] chalkos commented on #121
@andreaskring Could you look into this?

[2016-02-05 07:43] andreaskring commented on #121
Yes, I will fix this

2016-02-04 17:27 GMT+01:00 Bruno Ferreira <notifications@github.com>:

--
Andreas Kring
Magenta Aps
Incuba, Åbogade 15
DK-8200 Aarhus N

tel +45 3336 9699
dir +45 8177 1698

http://www.magenta.dk
andreas@magenta.dk

[2016-02-08 10:25] chalkos opened #122 "Problem converting from SIARD to DBMS on Windows"
Probably related to using Windows and #108

Logfile:
[code]

[2016-02-08 10:30] chalkos opened #123 "Bad copy/paste in help/usage text"
Should be **export to** instead of **import from**.

[code]

[2016-02-09 16:37] ThomasKristensen opened #124 "SIARDDK: Null pointer exception when trying to export table with no primary key defined."
@andreaskring ,I guess we need to guard against null pointer exception occurring when doing siard-dk export of tables with no primary key defined - and provide a suitable error message, if the user is trying to export a db with a table, with no primary key defined.

Place of null pointer exception:

https://github.com/keeps/db-preservation-toolkit/blob/0a2637d1ea427e3b424a751f03c84ffb42650696/dbpt

[2016-02-10 07:55] andreaskring commented on #124
Yes, we should give an error meesage in this case and throw a
ModuleException instead. I will fix this

2016-02-09 17:37 GMT+01:00 Thomas Kristensen <notifications@github.com>:

--
Andreas Kring
Magenta Aps
Incuba, Åbogade 15
DK-8200 Aarhus N

tel +45 3336 9699
dir +45 8177 1698

http://www.magenta.dk
andreas@magenta.dk

[2016-02-10 11:59] ThomasKristensen opened #125 "SIARD-DK: Better error message when the user (accidently) tries to export db without tables?"
@andreaskring , in the (very) special case, where the user accidently tries to export a database without any tables, we should perhaps consider providing a better error message than the stack trace below. (This has low priority though I would guess, but could save the user some time figuring out what is going on.)

[code]

[2016-02-11 11:49] PhillipTommerholt opened #126 "Option to pick which tables that will be exported to the SIARD-file."
Requirement for Pilot2, E-ARK.

[2016-02-11 14:32] jmaferreira commented on #126
Dear @PhillipTommerholt,

Have you tried to manage which tables are exported by means of the permissions associated with the credentials used?

[2016-02-12 14:48] ThomasKristensen opened #127 "SIARD-DK: Need to decide if we want to support "xs:hexBinary" for small binary values."
@andreaskring , I guess we need to determine if we want to support / utilize xml datatype "xs:hexBinary" for small binary values, that we don't extract and store as files. Currently we seem make the initial steps to offer support:

https://github.com/magenta-aps/db-preservation-toolkit/blob/master/dbptk-core/src/main/java/com/databasepreservation/modules/siard/out/content/SIARDDKsql99ToXsdType.jav

[2016-02-15 09:55] chalkos commented on #79
fixed by @andreaskring

[2016-02-15 09:55] #79 closed

[2016-02-15 09:55] chalkos commented on #80
fixed by @andreaskring

[2016-02-15 09:55] #80 closed

[2016-02-15 09:55] chalkos commented on #114
fixed by @andreaskring

[2016-02-15 09:55] #114 closed

[2016-02-15 09:55] chalkos commented on #116
fixed by @andreaskring

[2016-02-15 09:55] #116 closed

[2016-02-15 13:33] ThomasKristensen opened #128 "SIARD-DK: When exporting table meta data, we must change 'typeOriginal' accordingly, if type is changed (CLOBS or BLOBS)"
@andreaskring When exporting columns with CLOBS or BLOBS, we change the column type to integer (as it is supposed to identify the file with the binary data). When we do this transformation, we also need to change to 'orginalType' value, as the import mechanism sometimes relies on the original type for determining the type of the columns.

https://github.com/magenta-aps/db-preservation-toolkit/blob

[2016-02-15 14:41] chalkos commented on #32
This was fixed with the new CLI.

[2016-02-15 14:41] #32 closed

[2016-02-15 15:23] chalkos commented on #16
Must have been fixed when the roundtrip system was changed. Could not reproduce it now.

[2016-02-15 15:23] #16 closed

[2016-02-15 15:27] chalkos commented on #20
related to #9

[2016-02-15 15:28] chalkos commented on #22
This may have to do with timezone handling.

[2016-02-15 15:32] chalkos commented on #24
Could not reproduce. It may already been fixed, otherwise I will need more information about the database.

[2016-02-15 15:32] #24 closed

[2016-02-15 15:42] chalkos commented on #20
```timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP``` became ```datetime NOT NULL``` is related to #29 (default values). ```ON UPDATE CURRENT_TIMESTAMP``` could probably be stored as a trigger.

[2016-02-15 15:43] chalkos commented on #30
Note: I should check which DBMS are affected by this issue.

[2016-02-15 15:52] chalkos commented on #77
Postponed until a better java plugin solution becomes available.

[2016-02-15 16:23] #34 closed

[2016-02-15 16:30] chalkos opened #129 "Arrays should be supported"
For DBMS that support array datatypes, they should be exported to SIARD 2 and imported from SIARD 2 into another DBMS.

[2016-02-15 17:19] ThomasKristensen opened #130 "Support for comments on columns on export to PostgreSQL(?)"
Support for comments on columns on export to PostgreSQL would be a nice enhancement. (I'm aware that it might be low priority for now).

The syntax (which seems to be stable across versions) for setting a comment on a column is :

[code]
I haven't been able to find a way to include the comment in the same DDL statement creating the table/column (which is probably why it is not implemented yet in d

[2016-02-16 10:23] chalkos opened #131 "Problem converting from SIARD to MySQL"
[code]
Reported by Bartha Mihai from AIT

[import_export_import.sh.txt](https://github.com/keeps/db-preservation-toolkit/files/142948/import_export_import.sh.txt)
[world.sql.txt](https://github.com/keeps/db-preservation-toolkit/files/142949/world.sql.txt)

[2016-02-18 13:39] ThomasKristensen opened #132 "Consider using UTF-8 as default charset on databases created during import."
Are there any known downsides to making UTF-8 the default encoding/charset on created databases?

Seen from the siard-dk side of things (still being relatively new on the project, though) setting the default encoding at the database level seems to make a lot of sense. Setting the default charset on the created database, ensures that any columns of type VARCHAR (and similar) will be of encoding UTF

[2016-02-18 17:01] chalkos commented on #126
@PhillipTommerholt To address this I'm going to develop a module that creates a list of tables contained in the source database, this list can be saved to a file. The file could be manually edited and would be used by the SIARD module to filter the tables that are exported.

Do you think this solution is adequate?

[2016-02-19 10:25] luis100 commented on #132
IMHO, because we connect to the source database using JDBC and fetch the raw data using the DBMS driver specific methods, we can assume that the encoding of fetched information is UTF-8 (because Java internally uses UTF-8 for Strings). Nevertheless, some UTF-8 control characters that are illegal in XML would be escaped using the rules defined in SIARD 2 specification.

When we do the reverse proce

[2016-02-19 11:59] ThomasKristensen commented on #132
Thanks for your response.

I believe that you are right in most of what you are saying.

However, you write that:

The way I see it, this can only be true, provided that the DBMS specific encoding can in fact encode all the values. Say the varchar column has inherited the default encoding of the database, which might very well be ISO-8859-1. I don't see how the JDBC driver can convert all possible

[2016-02-19 15:47] luis100 commented on #132
As you can see, for example, in [Java NIO Chartset#encode()](http://docs.oracle.com/javase/6/docs/api/java/nio/charset/Charset.html#encode(java.nio.CharBuffer)):

This has already happened when converting the database from the original DBMS into UTF-8 and would happen again if converting from UTF-8 on the archive to, for example, ISO-8859-1. So this would be an argument for selecting UTF-8 as the

[2016-02-19 18:49] luis100 opened #134 "Certificate error when using encrypted connection"
[code]

[2016-02-20 11:44] ThomasKristensen commented on #132
Thanks for bringing the default replacement string in the case of unmapped characters to my attention. That is certainly a relevant part of the picture.

I doesn't change the matter, though.

Also notice that the default encoding of the exported varchar columns may even be unicode themselves. (For an MySQL example see http://dev.mysql.com/doc/refman/5.7/en/string-type-overview.html )

The only way

[2016-02-22 07:45] andreaskring commented on #128
I will fix this

2016-02-15 14:33 GMT+01:00 Thomas Kristensen <notifications@github.com>:

--
Andreas Kring
Magenta Aps
Incuba, Åbogade 15
DK-8200 Aarhus N

tel +45 3336 9699
dir +45 8177 1698

http://www.magenta.dk
andreas@magenta.dk

[2016-02-22 09:31] andreaskring commented on #124
This is fixed now in magenta-aps/dev

[2016-02-22 09:50] chalkos commented on #125
I think this also applies to SIARD 1 and 2.

[2016-02-22 10:00] chalkos commented on #124
@andreaskring if the code is ready you can create a pull request, I personally prefer reviewing smaller PRs.

[2016-02-22 14:37] chalkos commented on #131
Probably related to #120

[2016-02-22 15:22] chalkos commented on #115
I have narrowed down the problem to view's names not being escaped in mysql. I'll fix it in a while.

[2016-02-22 15:58] chalkos commented on #115
If the created SIARD2 file is converted to a MySQL database, the process does not finish and outputs errors similar to the ones in #120 and #131

[2016-02-22 17:01] chalkos opened #135 "Nullable LOBs are not supported"
Check SIARD2ContentExportStrategy#writeLargeObjectData. There are a couple of comments related to this issue. This problem also exists in SIARD1.

[2016-02-23 09:16] PhillipTommerholt commented on #126
@chalkos
Yes, that sounds fine.
@andreaskring is also making a module for SIARDDK in which the user can choose which CLOB-tables/CLOB-columns that will be extracted as external files. Does it make sense that the two of you talk about this solution?

[2016-02-23 11:28] chalkos commented on #120
@ThomasKristensen there has been some progress on this issue: on the line https://github.com/keeps/db-preservation-toolkit/commit/62b986433a76d8fd0146020cd5296353597daddb#diff-47b87bae78eacd712f1c3089d1ad1ad8R241 I added a roundtrip test that uses the World database and MySQL. The conversion completes although some characteristics are not correctly converted (I'll create issues to address those),

[2016-02-23 12:00] andreaskring commented on #126
@PhillipTommerholt Yes, I think that I will be able to used the module that @chalkos will be developing. I will talk to him about this

[2016-02-23 14:50] chalkos commented on #120
The conversion completes, although there are a couple differences.

[code]
becomes
[code]

So ```numeric(10,2)``` becomes ```numeric``` and the constraint is lost.
But that belongs in another issue, since converting the "world" database from postgresql to siard2 and back to postgresql works.

[2016-02-23 14:53] chalkos commented on #9
```numeric(10,2)``` becomes ```numeric``` in PostgreSQL

[2016-02-23 14:55] chalkos commented on #11
When roundtrip testing the world database on PostgreSQL,

```CONSTRAINT country_continent_check CHECK ((((((((continent = 'Asia'::text) OR (continent = 'Europe'::text)) OR (continent = 'North America'::text)) OR (continent = 'Africa'::text)) OR (continent = 'Oceania'::text)) OR (continent = 'Antarctica'::text)) OR (continent = 'South America'::text)))```

is lost. (see #120)

[2016-02-23 16:36] #15 closed

[2016-02-23 16:36] #115 closed

[2016-02-23 16:36] #117 closed

[2016-02-23 16:36] #122 closed

[2016-02-23 16:36] #123 closed

[2016-02-23 16:36] #131 closed

[2016-02-23 16:36] #120 closed

[2016-02-23 16:38] #124 closed

[2016-02-23 16:38] #125 closed

[2016-02-23 18:12] chalkos opened #137 "Invalid byte 1 of 1-byte UTF-8 sequence"
Converted 'world' database from MySQL to SIARD2 and then converted the SIARD2 file to MySQL, both conversions on Windows 10.

[code]

Complete log: [dbptk-app-win-world.log.txt](https://github.com/keeps/db-preservation-toolkit/files/143142/dbptk-app-win-world.log.txt)

[2016-02-23 18:16] chalkos opened #138 "Can't create table `sakila2`.`#sql-4e4_902`"
Converted 'sakila' database from MySQL to SIARD2 and then converted the SIARD2 file to MySQL, both conversions on Windows 10.

[code]

complete log: [dbptk-app-win-sakila.log.txt](https://github.com/keeps/db-preservation-toolkit/files/143148/dbptk-app-win-sakila.log.txt)

[2016-02-24 16:15] chalkos commented on #138
It's not windows specific. I have the same error on ubuntu.

[2016-02-24 17:33] #137 closed

[2016-02-24 17:33] #138 closed

[2016-02-25 19:10] ThomasKristensen commented on #127
@andreaskring  The commit-id below implements reading utf-8 strings encoded in hexBinary during import of siard-dk archive. However the issue can first be closed when `xs:hexBinary` is no longer returned from `convert` in `SIARDDKsql99ToXsdType`.

9134d721c7ee33ccb42336e246b8b903827e4d90

[2016-02-25 22:10] ThomasKristensen commented on #128
@andreaskring When 'typeOriginal' is handled, consider adjusting the test here: https://github.com/magenta-aps/db-preservation-toolkit/blob/siarddk-import-module/dbptk-core/src/test/java/com/databasepreservation/testing/integration/siard/SiardDKTest.java#L157

[2016-02-26 16:25] chalkos opened #140 "Invalid byte 2 of 2-byte UTF-8 sequence"
The problem happens when converting from siard-1 to mysql on windows.

The complete log file:
[dbptk-app.log.txt](https://github.com/keeps/db-preservation-toolkit/files/148552/dbptk-app.log.txt)

Reported by Lauri Rätsep

[2016-02-26 17:48] chalkos opened #141 "Do not output complete help text when a parameter error occurs"
In the case of  any ERROR in the parameters I always get the complete help output which is disturbing, as it is very long. It is not needed, or, if you insist,  I suggest something like "See --help for list of options" or "For more information on available options use --help" (which should override all other options).

Reported by Boris Domajnko

[2016-02-29 11:01] chalkos opened #142 "Support saving lobs externally in SIARD2"

[2016-03-01 08:48] BorisDomajnko opened #143 "Problem with importing postgresql table with uppercase name"
The name of one of the tables is (as displayed by pgAdmin):
      CREATE TABLE regust."upravna_enotaOLD"
I get this error with dbptk-app-2.0.0-rc3.2.5.jar:
     INFO [09:37:37] Translating database: postgresql to siard-2
     INFO [09:37:37] STARTED: Getting the database structure.
     ERROR [09:37:39] Error while importing/exporting
                 SQL error while conecting
                 ERR

[2016-03-01 09:14] andreaskring commented on #127
Fixed in https://github.com/keeps/db-preservation-toolkit/pull/144

[2016-03-01 09:43] ThomasKristensen commented on #121
@andreaskring I forgot to mention that I used the (Xml-) DatatypeConverter linked to below for parsing the values of xsd type 'hexBinary' and that this class also contains print-methods for decimal numbers etc.

see:
https://docs.oracle.com/javase/8/docs/api/javax/xml/bind/DatatypeConverter.html

[2016-03-01 09:44] andreaskring commented on #121
@ThomasKristensen Ok - thank you for the link. I will have a look at this

[2016-03-01 10:45] BorisDomajnko opened #145 "Unexpected exception, reason cannot be determined / problem with PostgreSQL integer[]"
I have identified the problematic table from larger database and copied it to a new schema. The error is reproduced here but there is no meaningful java exception information which would be very helpful here.

INFO [11:09:20] Translating database: postgresql to siard-2
INFO [11:09:20] STARTED: Getting the database structure.
INFO [11:09:20] FINISHED: Getting the database structure.
INFO [11:09:20]

[2016-03-01 12:58] andreaskring commented on #121
@chalkos This problem is a general problem also concerning SIARD 1.0 and SIARD 2.0, since they also map decimal numbers to the XML-datatype "decimal", i.e. when exporting reals in scientific notation from a PostgreSQL to all of the SIARD formats, we will have this problem.

In order to fix this, we have to parse the decimal numbers here:
https://github.com/keeps/db-preservation-toolkit/blob/master

[2016-03-01 14:44] chalkos commented on #121
The problem is in the PostgreSQL import module. I'll handle this issue then.

[2016-03-02 07:41] regrat commented on #132
This is the archival point of view: we need a long term format and minimal diversity. Thus an argument of "possible reuse in production" is not the primary concern. Having all databases in the same codeset (i.e. UTF-8, which seems most appropriate for Europe) is a step in this direction. Otherwise we just postpone this step to the creation of DIP - and we are stil in the scope of E-ARK. When you i

[2016-03-02 10:50] chalkos commented on #143
There is probably some way to determine if the DBMS is case sensitive or not. This may be specific to the DBMS (and in this case it would be coded specifically for each DBMS in its import/export modules) or specific to the database (in this case there must be some query that can be run to find out if dbptk should be case sensitive).

Nonetheless this is a problem in postgreSQL module(s) and will b

[2016-03-02 10:56] #126 closed

[2016-03-02 11:08] chalkos commented on #7
Target database will not keep the original user permissions and privileges.

[2016-03-02 11:08] #7 closed

[2016-03-02 11:33] chalkos commented on #145
Array support is still under development (see #129) nevertheless the error is not clear and the output should be improved to provide more information.

For detailed information on the error, could you check the file dbptk-app.log (it should be in the directory where the ```java -jar ...``` command was executed) and copy the last part here? It's the part after `ERROR [11:09:20] Unexpected exception

[2016-03-04 14:52] jmaferreira opened #147 "DBML import module"
For retrocompatibility reasons.

[2016-03-07 09:29] BorisDomajnko commented on #145
(id is integer[] ....)

DEBUG 2016-03-01 10:28:07,340 (PostgreSQLJDBCImportModule) query: SELECT id, tabela, polje, vrednost, vrsta, sprememba, uporabnik, datum FROM regust.arhiv_log
DEBUG 2016-03-01 10:28:07,343 (JDBCImportModule) Parsing array of subtype UnsupportedDataType
ERROR 2016-03-01 10:28:07,343 (Main) Unexpected exception
DEBUG 2016-03-01 10:28:07,344 (Main) Unexpected exception
java.la

[2016-03-07 09:29] #145 closed

[2016-03-07 09:47] BorisDomajnko commented on #143
Regarding case sensitive table and column names: everything is possible in the production. For archiving a decision is needed whether you find out the setting and usage automatically or simply use a siard parameter, or you opt for one solution only. This may be important for the use in the DIP. For example, we get some queries as part of ingest documentation and we reuse them for DIP, and then it

[2016-03-07 10:53] chalkos commented on #143
I think this was closed by mistake.

[2016-03-08 16:21] #141 closed

[2016-03-09 12:08] chalkos commented on #134
This happens because dbptk established a secure connection unless stated otherwise, this was the default behaviour for security reasons. To use a non-encrypted connection, the parameter `--import-disable-encryption`/`--export-disable-encryption` should have been used.

As many people were having trouble with this and the error message is not very clear, the default behaviour without the `disable-e

[2016-03-09 12:08] #134 closed

[2016-03-09 13:53] chalkos opened #149 "Original database is created / used / overwritten when converting siard2 to mysql"
Description: After creating a siard2 file from a mysql database, when converting the siard2 to a different mysql database a database an empty schema is created with the same name as the schema used to create the siard2 file in the first place.

Steps required to reproduce the bug:

1. Convert mysql database to siard2
2. Convert siard2 to a different mysql database (different schema)

Problems:

*

[2016-03-09 14:09] chalkos opened #150 "Log charset information"
Logging charset information may help debug future bugs and provide an idea of the diversity of environments in which dbptk is used.

[2016-03-09 14:30] chalkos opened #151 "Special characters not correctly converted when converting siard2 to mysql"
Description: Characters like `ä` `ë` `ü` etc are not being correctly converted.

Steps required to reproduce the bug:

1. Convert mysql database with data that contains those characters to siard2 (an example of such database is [lauri_jalgrattad2_raamid.sql.txt](https://github.com/keeps/db-preservation-toolkit/files/165345/lauri_jalgrattad2_raamid.sql.txt))
  * extracting the siard2 file it can be

[2016-03-10 11:05] chalkos commented on #150
I should also try to log encodings used by the database(s). The system encoding may not be the only cause for encoding problems.

[2016-03-10 11:44] chalkos commented on #151
* characters inserted in mysql becoming U+009D was due to UTF-8 not being used when creating the siard file.

* `java "-Dfile.encoding=Cp1257" -jar ...` can be used to force java to use a specific encoding

* creating the database with the sql script and then creating the siard2 file (and forcing java to use utf-8 encoding) resulted in a siard file that can then be correctly converted to mysql (al

[2016-03-10 14:53] chalkos opened #152 "Travis builds sometimes fail for java 7"
This started with #144

Sample failed build: https://travis-ci.org/keeps/db-preservation-toolkit/jobs/115039545

[2016-03-10 14:55] chalkos commented on #151
Related to #140

[2016-03-10 15:51] chalkos opened #153 "Check LOB messageDigest when importing SIARD file"
If the LOB has a messageDigest, it should be used by the import module to check the LOB.
- [ ] for SIARD1 and inline LOBs (embed in the table.xml)
- [ ] for SIARD1 and LOBs inside the SIARD file
- [ ] for SIARD2 and inline LOBs (embed in the table.xml)
- [ ] for SIARD2 and LOBs inside the SIARD file
- [ ] for SIARD2 and LOBs outside the SIARD file (external LOBs)

[2016-03-11 09:29] Laurira opened #154 "Cannot add foreign key (Postgre -> Mysql)"
Description: I created SIARD-2 file from one of our Postgre databases. After I tried to import that file to my localhost mysql database. All the tables were nicely migrated but there were also some foreign keys on some tables which resulted an error when imported.

Steps required to reproduce the bug:

I have a POSTGRE database that I exported to SIARD-2
SIARD-2 file has a table autor with foreign

[2016-03-11 10:16] chalkos commented on #151
All of these problems do not exist if UTF-8 is used (forced) with `java "-Dfile.encoding=UTF-8" -jar ...`

For this issue I will be looking for a way to force UTF-8 without using an additional parameter.

[2016-03-11 12:50] chalkos commented on #149
Also happens on PostgreSQL, see #154

[2016-03-11 13:57] chalkos commented on #64
It supports reading multiple files (inside a zip) at the same time. An example exists in the SIARD2 import module. While the XML is being read, several LOB files (inside the siard archive, using the zip read strategy) are opened, read and closed.

[2016-03-11 13:57] #64 closed

[2016-03-14 10:57] chalkos commented on #151
possible useful document: https://www.ardentex.com/publications/charsets-encodings-java.pdf

[2016-03-14 18:22] chalkos commented on #152
@ThomasKristensen @andreaskring the builds are failing and passing on java 7 for no obvious reason. Sometimes they pass, sometimes they do not. I think this may be due to machine resources limitations (RAM, simultaneous open streams/files, etc).

I'll try turning off parallel testing to see if this has any effect on the build.
If it does not help, I will disable the siarddk tests and will enable t

[2016-03-15 07:22] andreaskring commented on #152
@chalkos Thanks for the info. It will be interesting to see what happens, when you turn off parallel testing - hope this helps

[2016-03-15 09:12] BorisDomajnko opened #155 "Need for CHARACTER VARYING(2147483647)?"
Description:
The content of the SIARD metadata.xml file shows:
                            <type>CHARACTER VARYING(2147483647)</type>
                            <typeOriginal>varchar</typeOriginal>
                            <nullable>false</nullable>
I wonder whether it is necessary to declare the max. value (2147483647) in the archival version? What is the justification? The value is not conne

[2016-03-15 10:06] chalkos commented on #154
@BorisDomajnko Also reported a similar problem occurring on relations:
`ERROR: relation "relation-name" already exists`

[2016-03-15 10:10] chalkos commented on #140
@BorisDomajnko reported a similar error occurring when converting siard2 to postgresql:
`Invalid byte 2 of 3-byte UTF-8 sequence`

[2016-03-15 10:17] chalkos commented on #155
I do remember having a similar problem before, but I don't know which datatype caused it.

Although no error occurs, the log file includes some information about the datatypes and why they were chosen. Could you please send me some information about the detected type? That information should be in the log file, if you search the file for `2147483647` it should not be far.

[2016-03-15 11:10] chalkos commented on #152
In a new branch (bf-travis-test-problem) based on master (at https://github.com/keeps/db-preservation-toolkit/commit/809dd1b89c2d75db8e7182673b2f1346b12118d7) I removed parallel testing and this is the travis failing build https://travis-ci.org/keeps/db-preservation-toolkit/builds/116090040

Note that it is failing for all tested java versions, sometimes after successfully parsing the table1.xml f

[2016-03-15 11:26] chalkos commented on #152
Is there a good reason to use this [TestFileIndexFileStrategy.java#L36](https://github.com/keeps/db-preservation-toolkit/blob/master/dbptk-core/src/test/java/com/databasepreservation/siarddk/TestFileIndexFileStrategy.java#L36) instead of getting a tmp folder using NIO2 like in [Roundtrip.java#L144](https://github.com/keeps/db-preservation-toolkit/blob/master/dbptk-core/src/test/java/com/databasepr

[2016-03-15 11:55] chalkos commented on #152
I disabled the tests by adding these lines [dbptk-core/testng.xml, lines 42 to 71](https://github.com/keeps/db-preservation-toolkit/commit/f48e6bd076f9b26bb4320522ed4ce0279a30bc1b#diff-aea83caed764c986aa5b53ae7dc51ccdR42)
If you have those lines you may want to remove them in the pull request.

[2016-03-15 13:52] chalkos opened #157 "Use NullCell in SIARD DK"
@andreaskring @ThomasKristensen I made a change to standardize the way NULL cells are represented.

i.e.: Using a `new SimpleCell(someid, null)` to represent a NULL cell of textual type is now **deprecated** and `new NullCell(id)` should be used. (other NULL cells that are not of textual type should also be represented by NullCell)

This change was made to make it easier to declare and identify NU

[2016-03-15 13:53] #135 closed

[2016-03-15 13:53] #142 closed

[2016-03-15 18:39] #140 closed

[2016-03-16 09:04] BorisDomajnko commented on #155
dbptk-app.log:

INFO 2016-03-16 10:02:00,280 (JDBCImportModule) FINISHED: Getting data of table: public.tabela1
DEBUG 2016-03-16 10:02:00,280 (JDBCImportModule) finishing database
DEBUG 2016-03-16 10:02:01,247 (SIARD2MetadataExportStrategy) Saving type 'numeric'(internal_id:-1472337336) as NUMERIC(131089)
INFO 2016-03-16 10:02:01,247 (SIARD2MetadataExportStrategy) Saving type 'numeric' as 'NUMERIC

[2016-03-16 09:37] chalkos commented on #155
@BorisDomajnko that is not enough... I need 2 more pieces of information:

**first** could you search the file for:

* `-1472337336`
* `-880910331`

The structures I'm looking for look something like:

[code]

and before each group of structures, in the log, you can find a line like "Getting structure of table ...". This like allows you to identify the table and then you should be able to tell me

[2016-03-16 12:14] chalkos commented on #154
@Laurira Could you try to convert the siard2 file to mysql to a database named `public`?

[2016-03-16 13:33] BorisDomajnko opened #159 "An option for resetting the log file"
Description: Usually I would work with one database and repeat the steps after resolving the issues. In this case I do not need the old log file. I suggest a new option: --overwrite-logfile   so I will not need to delete the dbptk-app.log

(dbptk-app-2.0.0-rc3.2.5.jar)

[2016-03-16 15:30] #151 closed

[2016-03-16 15:32] #149 closed

[2016-03-16 15:37] #150 closed

[2016-03-16 15:37] chalkos opened #160 "Log database charset information"
For reasons described in #150

[2016-03-18 08:51] BorisDomajnko commented on #159
Maybe also an option for the name of the log file? I am testing with more databases and I need to keep a separate log for each of them - and I have to rename them manually.

[2016-03-18 09:18] BorisDomajnko opened #161 "CREATE DATABASE vs. CREATE SCHEMA (PostgreSQL)"
Description: In my DBMS I see more databases and each is a collection of schemas. Each database  is created with CREATE DATABASE ... They can host various registers, test versions,,... Each of them has own access rights. The explicit application with its own name space is then created below database with CREATE SCHEMA. For example, I create a database  "siard" as a playground for testing all siard

[2016-03-18 09:33] BorisDomajnko commented on #155
Hi, I do not remember how I closed it... I hope this is what you need:
 dbptk-app-2.0.0-beta4.0.jar

-1472337336

DEBUG 2016-03-18 08:53:11,306 (JDBCImportModule) count query: SELECT COUNT(*) FROM "public"."arhiv_log"
DEBUG 2016-03-18 08:53:11,308 (JDBCImportModule) Counted 11197 rows
DEBUG 2016-03-18 08:53:11,308 (JDBCImportModule) getting table structure for: tabela1
DEBUG 2016-03-18 08:53:11,31

[2016-03-18 09:52] BorisDomajnko commented on #130
The SIARD column level metadata "description" ("The meaning and content of the column") could hold this value. Maybe some database is well documented using the column comments as shown above. Unfortunately there is no standard SQL way for column comments as far as I can see. From archival point of view they can be a usefull (or sometimes only) information, and for restoring the database the commen

[2016-03-18 10:03] BorisDomajnko commented on #154
My problem was explained, but I have opened #161.

[2016-03-18 10:19] chalkos commented on #159
I would like to avoid adding *global* (ie: non-module) command line parameters. There is `-h, --help` and adding more options to fit special needs like this one may lead to polluting the help text with options that are rarely used.

I don't know if you are on windows or linux, but if you are on linux, how about a script like this one:

[code]

usage: `scriptname logname dbptk-args`
The first argum

[2016-03-18 10:47] BorisDomajnko commented on #159
I have been on both platforms and for test execution I can accept this solution, thanks.
BTW, my PostgreSQL is running on FreeBSD but I do not run .jar there.

[2016-03-18 11:04] chalkos commented on #161
Just so we are on the same page:

*from* http://www.estelnetcomputing.com/index.php?/archives/10-Database-vs.-Schema-Definition-in-Mysql-vs.-Postgres.html

Each schema on postgres will correspond to a database on mysql, those are limitations of the DBMS, not dbptk. A database on mysql will be converted to a postgres database on the default schema (public) because mysql does not have the notion of

[2016-03-18 11:06] chalkos commented on #161
I need more information to determine if this is an e-ark requirement or it is really working as intended.

[2016-03-18 11:17] chalkos commented on #159
I'm glad it worked.

[2016-03-18 11:17] #159 closed

[2016-03-18 11:28] chalkos commented on #130
@ThomasKristensen could you confirm that this is a postgresql feature that is not implemented?
I think I previously mistaken it by something else (therefore adding SIARD-DK label and assigning @andreaskring, which may have been a mistake).

@BorisDomajnko there may be specific ways (for each DBMS) to save comments and I agree that they should be saved (and restored) if they are present.

[2016-03-18 12:15] BorisDomajnko commented on #161
I agree we should not use any product related features or limitations, however the SIARD format should still be able to hold as much information as possible in some generic format, and the targeted DIP database should be able to support the available features it can handle. If we stick to the level of the database for input and output, this might be ok for the beginning.
I have tested creation of

[2016-03-18 12:30] chalkos commented on #161
It does. SIARD formats can contain a database with many schemas and each schema of those schemas can have many tables. What is missing?

[2016-03-18 12:33] BorisDomajnko opened #162 "PostgreSQL: a table stored in the wrong schema"
Description: A database with tables in two schemas were captured into a siard file. During restoring an error occured - one table was restored into the wrong schema.

Steps required to reproduce the bug:

1. Input:
    database test_a
         schema: public   (tables: arhiv_log, tabela1)
         schema: sch_testb (table: users)
2. use dbptk-app-2.0.0-beta4.0.jar  to create the package and then r

[2016-03-18 13:34] BorisDomajnko commented on #161
It seems I am using schemas as databases. Is it possible to restore more databases into one target database and I get more schemas? I think this is how it works now because I managed to get duplicates (relation already exists). In this case my use case might work.

[2016-03-19 11:48] ThomasKristensen commented on #130
@chalkos @andreaskring  Please notice, that I'm no longer associated with the project though a contract with Magenta, so it would probably be best if you redirect questions to Andreas. Thanks.

[2016-03-21 08:52] BorisDomajnko opened #163 "Error when unpacking SIARD based on MS Access input (UCA_METADATA)"
Description:
INFO [08:20:32] Handling schema structure PUBLIC
INFO [08:20:32] Handling table structure Stiki
INFO [08:20:32] Handling table structure Zadeve
INFO [08:20:32] Handling schema structure PUBLIC finished
INFO [08:20:32] Handling schema structure UCA_METADATA
INFO [08:20:32] Handling table structure PROP
INFO [08:20:32] Handling table structure TABLES
INFO [08:20:32] Handling table struc

[2016-03-21 10:27] chalkos opened #164 "Support default schema override when converting from single-schema to multi-schema databases"
Necessity: When converting from a single schema database (like MySQL) to a multi-schema database (like PostgreSQL), the tables are created in the default schema (for PostgreSQL this is the `public` schema). This does not allow (for example) multiple MySQL databases to be exported to multiple PostgreSQL schemas (on the same PostgreSQL database).

Feature: Allow overriding the target schema in these

[2016-03-21 10:30] chalkos commented on #161
This is not a bug, but a request for a new feature. I created a new issue with the intent of providing clearer details on what is expected from the new feature.

Please confirm that it is suitable for your use case: #164

[2016-03-21 10:30] #161 closed

[2016-03-21 12:11] BorisDomajnko commented on #164
Will this cover also the Oracle specifics? There are schemas as well but with a different purpose. For archival use we may want to archive tables of a certain application and they could be available in a certain schema. And maybe some other schema in the same database will hold records which are not interesting for the archives.

[2016-03-21 12:50] chalkos commented on #164
This will treat Oracle databases as any other multi-schema databases. Allowing you to choose the target schema when converting a single schema to oracle.

I think this is already provided by the [List tables module](https://github.com/keeps/db-preservation-toolkit/wiki/List-Tables-Module) (and is a different feature than the one described in the issue description). Feel free to create a new issue

[2016-03-21 12:53] chalkos commented on #163
Please provide a minimal example that does not contain private information and can be used to reproduce the error.

[2016-03-21 13:38] BorisDomajnko commented on #143
Additional information using test option: -e list-tables   (the name of the table is "Tabela1"):
 Connection error while importing/exporting
                 SQL error while conecting
                 ERROR: relation "public.tabela1" does not exist

[2016-03-21 15:07] chalkos commented on #143
Thanks. This is further proof that the problem resides in the PostgreSQL import module.

[2016-03-22 10:08] BorisDomajnko commented on #143
Sent by mail. It was created as default application with/by MS Office Access (Fixed Assests Inventory) and it is used just to increase the variety of test examples. Output of  -i microsoft-access  -e list-tables

PUBLIC.Stiki
PUBLIC.Zadeve
UCA_METADATA.PROP
UCA_METADATA.TABLES
UCA_METADATA.COLUMNS

[2016-03-22 13:05] BorisDomajnko commented on #163
sent by e-mail.

[2016-03-24 17:57] chalkos opened #165 "Warn when using a SIARD created using a different dbptk version"
Description: Updates to dbptk may change (fix) the generated SIARD file, making it incompatible with other dbptk versions.

Steps required to reproduce the issue:
1. Use version A of dbptk to convert a database to SIARD 2
2. Use version B of dbptk to convert the SIARD 2 file to a DBMS
3. There may occur strange errors that are fixed by using the same version in steps 1 and 2

Suggestion of impleme

[2016-03-30 09:53] chalkos opened #166 "Lost information when converting between SIARD 1 and 2"
Description: conversion between SIARD 1 and 2 may create invalid files.

In SIARD1, SQL99 is used for type names.
In SIARD2, SQL2003 is used for type names.

* When importing a SIARD1, a SQL99 type is obtained (and no SQL2003).
* When exporting to SIARD2, a SQL2003 type is expected to be present.
* The inverse, ie. SIARD2 -> SIARD1, also has a similar problem because SQL2003 is obtained from SIARD

[2016-03-30 10:13] chalkos commented on #166
The referenced commit makes sure that SIARD2 import module uses the SQL2003 value (and tests are failing now).

[2016-03-31 10:46] BorisDomajnko opened #167 "Unexpected exception with MS Access file"
Description: When creatign a SIARD2 file from MS Access I get an exception.

Steps required to reproduce the bug:
1.
2.
3.
    java -Xmx1500m -Dfile.encoding=UTF-8 -jar dbptk-app-2.0.0-beta4.0.jar -i microsoft-access -if h:\APPL\DETEKTIVI\smucarji_2010.mdb -e siard-2 -ef out_smu1.siard

[code]

Table Zaposlitve has 9190 records. If I check the structure of this table:

[code]

[2016-03-31 11:38] BorisDomajnko opened #168 "Courrupted siard file remains after java exception"
Description: I was creating a siard-2 file when I got the error (see #167). A siard file remains in the target directory. It is incomplete and of course cannot be opened. I suggest the work file is removed in case of premature program end.

Steps required to reproduce the bug:

1. see #167

Attach the dbptk-app.log.txt file below.
DEBUG 2016-03-31 13:36:06,495 (MsAccessUCanAccessImportModule) quer

[2016-03-31 13:29] chalkos commented on #167
@BorisDomajnko, could you please provide me the name of the 6th column of Zaposlitve? It should have type double in MS Access (or some other floating point type). More metadata on that column (and it's type) present in MS Access is also appreciated and may help fixing this problem.

The rest of the comment are development notes. You can ignore them.

--------------

##### development notes for fix

[2016-03-31 13:41] chalkos commented on #168
This SIARD file can sometimes be used to identify problems, that is why it is not deleted.
Do you have a reason for wanting this feature?

[2016-03-31 13:51] BorisDomajnko commented on #167
The column no. 7 is Opomba (in English: "Notes"). In Access I can see only Slovenian data type, which I translate to "More lines of text".

[2016-03-31 13:52] chalkos commented on #167
Thanks, but I asked you for the 6th column name and datatype.

[2016-03-31 13:54] BorisDomajnko commented on #168
If you can open and observe the file I do not object. But if the file seems corrupted and cannot be unzipped at all I think it is better to do the cleanup. In my case the file was not usable.

[2016-03-31 14:00] chalkos commented on #168
The file may still be usable, even if some tools are not able to do it. If it has a size of 0 bytes is obviously not complete and can be removed, but other than that there doesn't seem to be a straightforward way to determine if the output file is usable of not (if the way is not straightforward, there is no point in doing it, since the user can easily/instantly decide wether to discard or save th

[2016-03-31 14:03] luis100 commented on #168
Hi Boris. While in beta we will keep the resulting files by default for debugging. After final release we should always clean-up files produced when a fatal error occurs, except if special debug flags are defined. So I suggest creating a new issue with this and putting it for final version milestone and closing this issue for now.

[2016-03-31 14:04] chalkos commented on #168
I'll create the issue.

[2016-03-31 14:04] #168 closed

[2016-03-31 14:08] chalkos opened #169 "Corrupted output files remain after java exception"
From #168, clean-up files produced when a fatal error occurs should be deleted before the program exits, except if special debug flags are defined.

[2016-03-31 14:33] BorisDomajnko opened #170 "MS Access: database structure with included mdb files with hardcoded pathname"
I have a master Access .mdb file which uses "included" .mdb file. If I use the same path as in the original environment I can succeed  with the siard-2 result. But if I execute the dbptk on linux, the absolute paths are built in the wrong way and the included file (which is available in the same directory!) is not found.
I do not have any knowledge of MS Access, but still, is it possible to use th

[2016-03-31 14:39] BorisDomajnko commented on #167
Sorry, I do not know how I mixed it (started with 0:)
The column Ure (eng. hours) is Število, in English: Number, same as columns 2 and 3.

[2016-03-31 15:03] chalkos commented on #167
So Število is the column name or the column type? (sorry, but I was not sure from reading your comment)

I think the culprit is this caracter: `Š`.

[2016-03-31 15:38] chalkos commented on #170
I would need to investigate it to answer that. Is it impossible to change the file in Access to use the correct path?
(And I did not think it would be possible to run MS Access export module on linux, all my tests were on a Windows machine with MS Access installed)

a) What would you consider to be the correct behaviour? I think that 1 siard file with contents from main access file and included ac

[2016-04-01 06:22] BorisDomajnko commented on #167
Število is the type - Number.
Example with data sent by mail.

[2016-04-01 06:44] BorisDomajnko commented on #170
I agree, in the application the data are accessed from the same menu (lines "Person", "Persons - archive")

I just copied everything (jar, mdb) on a working folder on CentOS. I did not run the application. It is easier for scripting and java memory. I got the CD from the producer, so I can run dptk anywhere.

Maybe they should be in different schemas, e.g database.main, database.persons2010 if the

[2016-04-01 09:38] chalkos commented on #170
I confirmed that the java library that I use to get data from MS Access files can actually be used on windows and linux because it does not depend on MS Access being installed (I think I previously used or considered using a library that needed MS Access and windows, hence my confusion).

With the example data it will be easier to understand the possibilities and implications of doing this. This w

[2016-04-01 09:42] chalkos commented on #167
From the example data it seems that the cause is an empty/null cell.

[2016-04-01 12:06] BorisDomajnko commented on #167
I can confirm that - I have replaced empty values with 0 and the dptk ended without java exception now.

But if the table allows NULL values, they should be allowed also in the siard2. We can not (before delivering to the achives)  ask the database owners to change the values db tables of applications which were used in production without problems. We should ingest the data "as it is".

[2016-04-01 12:18] chalkos commented on #167
They are, as in, the specification allows it.

Exactly.

The problem is in dbptk and should be fairly simple to fix. Null values are supported by the application already, so it's only a matter of checking if the value is NULL and marking it as such (the rest of the application already knows how to handle them from that point).

[2016-04-01 12:47] BorisDomajnko opened #171 "Extracting siard-2: problem with year 207"
Description: There is a wrong date in the table (207 instead of 2007). I cannot restore the table from siard2 file. Manually I was able to enter such a year into the PostgreSQL table therefore I assume siard is checking the syntax.
If the user has wrong values and this is not resolved before the ingest, we should be able to restore such tables as they are.

dbptk-app-2.0.0-beta4.0.jar:

1. MS Acce

[2016-04-01 16:25] luis100 commented on #171
This is simply a formatting problem, date time is on the format `[-]CCYY-MM-DDThh:mm:ss[Z|(+|-)hh:mm]` so the date should be formatted as: `0207-10-03T23:00:00.00Z`.

[2016-04-06 16:12] dglab-arquivos opened #172 "Specified key was too long; max key length is 767 bytes"
Description: Importing to mysql siard2 file from mssql fails
mssql 2008 R2
mysql 5.5.47 on ubuntu 14.04.1

Digitarq Database export.

[code]

[2016-04-06 16:30] chalkos commented on #172
It seems that this has to do with limitations on the target database ("Specified key was too long; max key length is 767 bytes").

I will make it so that in this case the primary key is not created and a warning is shown.

[2016-04-07 08:07] Laurira commented on #154
Seems that the issue will not occur when I try to export my file to the database that is names "public" (different from the initial name).

But why does it rename the foreign key? For example I have a foreign key fki_auvik_fond in PostgreSQL but after the import/export I will have dbpres_14599397187611 in MySQL.

[2016-04-07 08:11] Laurira commented on #154
Also I have index fki_auvik_fond in PostgreSQL but after the import/export I will have dbpres_14599397187611 in MySQL. Why is the index named the same as the foreign key?

[2016-04-07 09:26] chalkos commented on #154
Ok. As I suspected. Could you try the conversion again with version beta4.0? (to a database that the name is **not** public)

To avoid conflicts or foreign key names that are not compatible with the target DBMS.

I can't recall the reason. Is it bad that they have the same name? Aren't they related.

[2016-04-12 09:17] Laurira commented on #154
With beta4.0 I got an error

ERROR [12:12:44] Failed to open lob at ./schema1/table4/lob37/record1105.txt
                 File "./schema1/table4/lob37/record1105.txt" is missing in container
ERROR [12:12:44] Unexpected exception

Same SIARD file works with previous version.
[dbptk-app.log_Beta4.txt](https://github.com/keeps/db-preservation-toolkit/files/214665/dbptk-app.log_Beta4.txt)

I attached

[2016-04-12 09:23] chalkos commented on #154
Could you try using version 4.0 to create a new SIARD file and then use this file for the conversion?

[2016-04-13 09:42] Laurira commented on #154
You were right, now it worked. Thanks

[2016-04-13 09:48] #154 closed

[2016-04-14 09:33] chalkos opened #174 "Support exporting database, schema, table and column descriptions"
Descriptive metadata present in database, schema, table and column is not being exported.

If an element is missing from this list, it means that the DBMS does not provide a way to add descriptive metadata (like comments) to that element (or I could not find it).

**MySQL**
- via JDBC
    - [x] Table
    - [x] Column
    - [x] Function / procedure

**PostgreSQL**
- via JDBC
    - [x] TABLE
    - [

[2016-04-14 11:02] chalkos opened #175 "Add tests that "convert" SIARD to itself"
This ensures that the SIARD (1 and 2) modules do not discard any data.

Tests required:

- [ ] Convert from SIARD1 to SIARD1
- [ ] Passing the test above
- [ ] Convert from SIARD2 to SIARD2
- [ ] Passing the test above

[2016-04-14 12:05] luis100 opened #176 "Produce a separate report with conversion warnings"
When converting from one DBMS to SIARD or back there might be some minor data loss like data type changes. Create a separate report for these warnings.

[2016-04-14 12:13] jmaferreira commented on #176
Basically these warnings should be kept in a separate file in order to be easy to spot these losses and document them.

[2016-04-14 17:16] chalkos opened #177 "Default values are lost in conversion to any DBMS"
Default value information is lost because DBMS export modules do not export this information. ColumnStructure#getDefaultValue() is only used in SIARD export modules.

[2016-04-19 08:03] BorisDomajnko opened #178 "Default schema override"
I am refering to #161 and #164 as it is not clear to me what is a solution for such a scenario where schema is not captured. The use case could be the following:  I create one target database (e.g. registerXY) and then restore two versions from SIARD-2 as two schemas (e.g. period12 and period34 from two AIPs). Then I can use both versions and compare the data.
Source is MS Access: The schema publi

[2016-04-19 08:33] chalkos commented on #178
In #164 there is this paragraph:

Is this the kind of solution you were referring to? (overriding the target schema)

[2016-04-19 09:09] BorisDomajnko commented on #178
Yes. Currently I am working on MS Access borm data and I miss the target schema functionality. This all is connected also with the DB viewer, I understand you will do it.
(BTW, I cannot test with my second MS Access database from the same creator as it cannot be restored until the wrong year " 207" issue #171 is fixed, too many errors in original db for manual corrections).

[2016-04-19 09:35] #172 closed

[2016-04-19 09:55] chalkos commented on #178
I am aware that you need the functionality described in #164, I am currently planning on improving the stability of future releases. The next features to implement and issues to fix are listed in the next milestone https://github.com/keeps/db-preservation-toolkit/milestones (currently https://github.com/keeps/db-preservation-toolkit/milestones/v2.0.0-beta4.2).

As you can see #171 is listed for th

[2016-04-19 09:55] #178 closed

[2016-04-19 12:49] BorisDomajnko opened #179 "Date vs. timestamp"
Description: If the database column holds pure date (without time), it is disturbing to get SELECT output with time like  00:00:00. We could filter this in db viewer but maybe it is better to deal with it sooner.

Steps required to reproduce the bug:

1. MS Access, the date column, values like "1974-07-15"
2. create SIARD-2 package
3. restore to PostgreSQL, columns values are like "1974-07-15 00:0

[2016-04-19 13:23] chalkos commented on #179
It appears that MS Access import module is treating DATE type as DATETIME type.

Can you identify in the log (in the conversion from MS Access to SIARD-2), in the part where datatypes are identified, which should look something like this (except with different values):

[code]

Can you identify the type of the column that contains dates? The columns are in the same order as they are in Access and

[2016-04-19 13:43] jmaferreira opened #180 "Add support to siegfried/DROID/PRONOM for SIARD 2.0"

[2016-04-19 15:00] chalkos opened #181 "Problems with MS SQL Server NVARCHAR type"
Description: There are currently some problems related to this datatype. An example of how it is read from the database is:

[code]

When converting the SIARD to MySQL the column type is longtext, when converting the SIARD to PostgreSQL the column type is text.

When converting from MS SQL Server to SIARD, some of the cells are saved as CLOB, however when converting the SIARD file back to a DBMS (

[2016-04-19 17:28] dglab-arquivos opened #182 "MSSQL index out of range"
Description: error in mssql index

1.
java "-Dfile.encoding=UTF-8" -jar dbptk-app-2.0.0-beta4.1.jar -i microsoft-sql-server -ide -is xxxxx.tt.pt -idb DM_DGARQ_docbase -iu 12345 -ip 12345 -e siard-2 -ef doc.siard

Is it possíble to automatic skip some tables  and proceed in the case of a corrupted data/database?
Or a feature to allow/block which tables are going to be exported?
Any other solutions

[2016-04-19 19:50] chalkos commented on #182
These features are not on the roadmap. I understand that this may throttle testing the application, but adding such feature would make bug reports harder to track. Bugs would become harder to understand and pinpoint because some tables were ignored and then the application would error in a way that maybe would not even happen if the tables were not being ignored, resulting in bugs that could no lo

[2016-04-20 09:53] Laurira commented on #28
I think this issue is not completely fixed
I reproduced this using dbptk-app-2.0.0-beta4.0.jar

1. I did an export from Postgre to SIARD-2
[metadataPostgre.xml.txt](https://github.com/keeps/db-preservation-toolkit/files/227633/metadataPostgre.xml.txt)

2. I imported this file to MySQL
3. and then I exported MySQL to SIARD-2
[metadataMySQL.xml.txt](https://github.com/keeps/db-preservation-toolkit/f

[2016-04-20 10:23] chalkos opened #183 "Primary key name is lost when converting SIARD2 to MySQL"
Reproduced using dbptk-app-2.0.0-beta4.0.jar
1. I did an export from Postgre to SIARD-2
   [metadataPostgre.xml.txt](https://github.com/keeps/db-preservation-toolkit/files/227633/metadataPostgre.xml.txt)
2. I imported this file to MySQL
3. and then I exported MySQL to SIARD-2
   [metadataMySQL.xml.txt](https://github.com/keeps/db-preservation-toolkit/files/227641/metadataMySQL.xml.txt)
4. I compar

[2016-04-20 10:24] chalkos commented on #28
@Laurira this issue is about a roundtrip test for MSSQL Server, which means convert MSSQL to SIARD, then convert the SIARD back to MSSQL and then compare the original MSSQL db and the restored MSSQL db to see what changed.

Your issue seems to be a different one. I duplicated your comment in #183.

[2016-04-20 10:27] chalkos commented on #183
This seems to be a case where some data loss is to be expected when restoring the SIARD file, because not all DBMS support all features in the same way. Sometimes there is no direct way to restore some parts of the database, eg: a view in MSSQL may contain an SQL statement incompatible with PostgreSQL, therefore that view will be present in SIARD mostly as documentation and will not be present whe

[2016-04-20 10:47] BorisDomajnko commented on #179
I have checked the Access configuration. It seems that the dptk behaviour is correct, but the problem still exists in the DB viewer.
In Access all observed fields are defined as Date/Time. When I browse the table the column BirthDate has only date, and in another coulmn I see the timestamp values like "5.8.2011 8:46:27". This means that in such a field I can type "5.8.2011 8:46:27" or only "5.8.20

[2016-04-20 10:52] chalkos opened #184 "Relation problems in conversion MSSQL -> SIARD2 -> PostgreSQL"
Description: Converting MSSQL database to SAIRD 2 and then converting the SAIRD 2 to PostgreSQL

Steps required to reproduce the bug:

1. MSSQL -> SIARD2
2. SIARD2 -> PostgreSQL
3. errors appear in the conversion

Output excerpt (I have more information in email)
[code]

Reported by David Silva @dglab-arquivos

[2016-04-20 11:09] chalkos commented on #179
If Access saves the data as date+time, even if it only displays the date when the time is 00:00:00, dbptk will read the whole date+time. It would not be correct if dbptk removed time if it was 00:00:00, why would it purposely delete correct information it got from the database?

Since you mention db viewer, I think this really is a task for DB viewer, because it is about the data presentation, not

[2016-04-20 12:19] BorisDomajnko commented on #179
Is "output column formatting" a new functionality request for db viewer then? We try to emulate the original GUI as much as possible under archival circumstances, and this date is an example.

[2016-04-20 13:10] chalkos commented on #179
Yes. I believe it should be. Although some more details on the specific formats that should be supported may be necessary. You are welcome to create an issue with this at https://github.com/keeps/dbviewer/issues

I'm closing this issue since this is not a dbptk problem.

[2016-04-20 13:10] #179 closed

[2016-04-21 06:49] BorisDomajnko commented on #179
I will not open a feature request. I have found out that I can use a "standard" sql functionality - CAST. But there is some risk that CAST is not supported by some of our target databases.
PostgreSQL example: SELECT
  CAST        (izkaznice."Datum_izdaje" AS DATE),
  TO_CHAR(izkaznice."Datum_izdaje", 'yyyy-mm-dd'),
                    izkaznice."Datum_izdaje"

gives:  "2008-02-21";"2008-02-21";"20

[2016-04-21 11:37] BorisDomajnko commented on #170
Just to clarify this question of mine:

No, it works correctly: in the environment where folder paths are not broken I create SIP from the main Access file and the includes mdb files are handled automatically.

[2016-04-25 09:59] Laurira commented on #183
As you described the issue so generally then maybe the following goes also under this bug. Seems like the application is losing the action of the foreignKey as well. See the picture (in the left hand there is SIARD generated from Postgre and the right side is generated from MySQL).
![deleteaction](https://cloud.githubusercontent.com/assets/3479156/14779812/81950f32-0ae2-11e6-80d2-68a8b8373460.JPG)

[2016-04-26 09:46] chalkos commented on #183
This is not critical information when converting the database (priorities are the data, then structure and only then an attempt is made to save behaviour such as the foreign key actions).

On the second step, the import to MySQL, the default value may be lost (due to reasons I described in my previous comment, https://github.com/keeps/db-preservation-toolkit/issues/183#issuecomment-212370203)

The

[2016-04-26 10:27] chalkos opened #185 "Change strategy to a permissive one"
Description: Currently, DBPTK fails if some data is not converted correctly. It should proceed with a warning. After execution, a list of conversion problems should be available, describing the problems converting data, structure and behaviour.

Steps required to reproduce the bug:

1. Take any database with unsupported data that aborts the conversion.
2. Convert this database to the problematic t

[2016-04-28 13:01] chalkos opened #186 "Better handling of unencrypted connection to database"
Description: Fallback to unencrypted connection to database occurs when the connection fails. In some cases this might not be desirable.

Current default behaviour is:
1. Try to connect to database using encrypted connection
2. If the above failed, try to connect to database using unencrypted connection
3. If the above failed, abort, because no connection is possible

To solve this issue provide a

[2016-05-04 11:18] BorisDomajnko opened #188 "Extractiong from MS Access: # added to hyperling field"
Description: In the original MS Access the field type is **hyperlink**, example value is Slike\1956.jpg.
In the siard-2 file I see wrong values with hashes added, for example
     <c24>#Slike\u005c1956.jpg#</c24>
and in some cases the mdb file name is added:
      <c24>Slike\u005c6734.jpg#Izkaznice_III_MNZ.mdb#</c24>

In the restored db in PostgreSQL the field type is **text**  which is ok as the

[2016-05-04 14:52] chalkos commented on #188
Assuming the hyperlink points to a local file, it is very difficult to automatically save the file to the SIARD archive.

If that column really corresponds to the hyperlink type, then it means that DBPTK perceives the hyperlink as plain text, and the strange values (like the ones with `#` characters) are obtained like that from MS Access.

But even if the link is correct, if the files are not save

[2016-05-05 06:35] BorisDomajnko commented on #188
The external files are indeed stored separately and then they have to be restored in such a way that the access tool can display them. This works in my environment if I manually correct the generated links, which are now like this one:
http://pluton.ars.sigov.si/dbdipview/files/MNZoranzna/#Slike/1956.jpg#

I will try with the next beta version. So far I assumed dbptk used hashes for some internal

[2016-05-05 07:26] BorisDomajnko commented on #188
Here it is:
https://msdn.microsoft.com/en-us/library/bb237972%28v=office.12%29.aspx
For the scenario with db access tool we only need a link as a relative path (see example above) to be abl eto display pictures or open other external documents. This is a clean text column. With my producers I do no expect other scenarios because usually simple registers are archived and not some specific hi-tec ap

[2016-05-05 12:10] chalkos commented on #174
MySQL table and column added in https://github.com/keeps/db-preservation-toolkit/commit/cd2a0eb4dd9d3b510f3d2c30aab621ee3a766606

[2016-05-09 13:34] PhillipTommerholt opened #191 "Export to SIARDDK: two problems with suffixed blank characters"
Description:

I tried to export Northwind database (on Microsoft SQL Server) to SIARDDK. In some of the tables in Northwind there are suffixed blank characters, and they appear like this after the export:

`<?xml version="1.0" encoding="utf-8"?>
<table xsi:schemaLocation="http://www.sa.dk/xmlns/siard/1.0/schema13/table13.xsd table13.xsd" xmlns="http://www.sa.dk/xmlns/siard/1.0/schema13/table13.xsd

[2016-05-10 10:14] chalkos opened #192 "Descriptive metadata as parameter in SIARD 1 and 2"
Description: provide parameters for fields like `description`, `archiver`, `archiverContact`, etc

[2016-05-10 10:15] chalkos opened #193 "Fully support date intervals"
Description: Currently being saved in textual form.

[2016-05-10 13:39] #9 closed

[2016-05-11 07:14] andreaskring commented on #191
@PhillipTommerholt I will fix this and get back to you

[2016-05-11 12:40] chalkos commented on #128
Some parts of dbptk relied on the "original type", but this has proven to be a bad practice. Sure, it easily solves some problems for now, but in the long run relying on the original type will cause a lot of trouble due to the variety of values that can be present in that field.
The preferred way to recognise types is to use the SQL standard type (99, 2008, etc).

[2016-05-11 13:36] #166 closed

[2016-05-11 13:36] #167 closed

[2016-05-11 13:36] #181 closed

[2016-05-11 13:36] #192 closed

[2016-05-11 13:49] chalkos commented on #185
Fixed by #190

[2016-05-11 13:49] #185 closed

[2016-05-11 13:53] chalkos commented on #176
Added in pull request #190

[2016-05-11 13:53] #176 closed

[2016-05-12 07:31] PhillipTommerholt opened #194 "SQL Server to SIARDDK: Process stops after views and does not encorporate views"
Description:
When I try to export Northwind database on MS SQL Server 2014 to SIARDDK, the export stops somewhere soon after export of the last view in the database according to the two log files:

[dbptk-app.log.txt](https://github.com/keeps/db-preservation-toolkit/files/260756/dbptk-app.log.txt)
[dbptk-report-20160512084025398.txt](https://github.com/keeps/db-preservation-toolkit/files/260749/db

[2016-05-12 07:31] PhillipTommerholt commented on #194
@andreaskring

[2016-05-12 11:39] PhillipTommerholt opened #195 "SIARDDK export: namespaces in xml-tables"
Description:
After export the different tables have namespaces that appear like this:

Table1:
`<table xsi:schemaLocation="http://www.sa.dk/xmlns/siard/1.0/schema1/table1.xsd table1.xsd" xmlns="http://www.sa.dk/xmlns/siard/1.0/schema1/table1.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">`

Table2:
`<table xsi:schemaLocation="http://www.sa.dk/xmlns/siard/1.0/schema2/table2.xsd table2.x

[2016-05-12 14:08] chalkos opened #196 "Invalid XML character (Unicode: 0xb) table XML"
Description: Error "An invalid XML character (Unicode: 0xb) was found in the element content of the document" appears when converting SIARD2 to MySQL.

By the SIARD2 spec, this character is not required to be escaped, but if it is not escaped the file is not valid XML.

[2016-05-12 14:23] andersbonielsen commented on #196
Actually SIARD 2.0 states in G_3.3-3 that Unicode control characters 0-31 "are coded using the solidus ("\") to ensure that the validity of the XML file is guaranteed."
Unfortunately, in the following section G_3.3-4 value 11 is not directly mentioned, only 0-8 and 14-31.
We should notify Hartwig Thomas about this issue.

[2016-05-12 14:29] chalkos commented on #196
That is correct. I had some difficulties understanding which characters needed to be escaped.
Should I notify Hartwig Thomas or are you planning on notifying him yourself?

[2016-05-12 14:31] chalkos commented on #196
Unicode 0xB and 0xC are also not allowed in XML.

[2016-05-12 14:37] andersbonielsen commented on #196
I think you should do it, you found the problem, and Luis and I missed it in the first place.
By the way, to complicate the matter, you cannot state in general that value 11 or 0xB is invalid in XML, it is invalid for XML 1.0, but valid for XML 1.1. But SIARD 2.0 is using XML 1.0 only - (maybe that should also be noted)

[2016-05-13 08:50] chalkos opened #198 "Case (in)sensitive varchar fields as primary key"
Description: Converting a SQL Server DB to SIARD 2 and then converting it to MySQL produces "duplicate primary key" errors.

Steps required to reproduce the bug:

1. Create a SQL Server Database with a table which primary key is a varchar field
2. Insert 2 rows with values "bug" and "Bug".
3. Convert database to SIARD 2
4. Convert database to MySQL
5. "duplicate key on row 2"

[2016-05-13 11:47] andreaskring commented on #152
@chalkos This can be closed now

[2016-05-13 11:58] chalkos commented on #152
Right. Thanks.

[2016-05-13 11:58] #152 closed

[2016-05-13 12:29] andreaskring commented on #195
@PhillipTommerholt Fixed in this branch: https://github.com/magenta-aps/db-preservation-toolkit/tree/issue_191_195

[2016-05-13 12:29] andreaskring commented on #191
@PhillipTommerholt Fixed in this branch: https://github.com/magenta-aps/db-preservation-toolkit/tree/issue_191_195

[2016-05-17 12:20] andreaskring commented on #194
@PhillipTommerholt I think the problem lies within the microsoft-sql-server import module. When exporting the Northwind database from MySQL everything works fine. Previously, a problem with views also occured for MySQL, since these were not extracted from the DB by the MySQL import module. I think this problem may be similar. @chalkos can you take a look at this?

[2016-05-17 12:35] chalkos commented on #194
The log ends with error which root cause is in the log as:

[code]

It seems that SIARDDK XML file should have a `queryOriginal` element inside every `view` element and that is not happening (maybe its null).

I have successfully imported views in the MS SQL module and exported them in SIARD1 and 2.
@andreaskring Please confirm that the fault is not in SIARDDK. If you can trace the problem back to

[2016-05-17 12:50] PhillipTommerholt opened #199 "MS SQL Server Import module fails for schemas other than 'dbo'"
Description:

I am experiencing problems in the microsoft-sql-server import module, at my first task in pilot 1.

It seems that tables with dbo schemas run perfectly, but when you have tables with other schemas (or other prefixes) the import stops.

I have tried to reproduce the problem in Northwind database, where I created an extra table  (se picture from my management studio)
![udklip](https://

[2016-05-17 13:18] chalkos commented on #199
I will look into this. I changed the title so it is clearer what the issue is about, I hope that's ok.

[2016-05-17 13:43] andersbonielsen commented on #199
Yes, it is allright with the change of title, we just wanted to emphasize that this bug is a showstopper for pilot 1.

[2016-05-17 13:48] chalkos commented on #199
Ok. To make that clear, I created a label that can now be used to signal issues like this one.
I'm fixing some problems in MS SQL Server and I will fix this one as well for the next release.

[2016-05-17 14:18] andersbonielsen commented on #199
Fine, I was about to propose such a label.
We will tell our pilot 1 agency that we are working on getting the rest of their tables exported.

[2016-05-17 14:24] jmaferreira commented on #199
@chalkos check to see if its a permissions issue. The user being used to extract the database might not have permissions to read the other schemas.

[2016-05-18 06:03] PhillipTommerholt commented on #199
I have tested via cmd that the user I connect with have rights to all schemas and all tables, so it must be a bug in the application. (see last line in original post).

[2016-05-18 07:48] PhillipTommerholt commented on #199
Maybe to be more precise (i might have misunderstood you Miguel or not explained myself well enough):

I have tested via sqlcmd (Windows 10) that I can extract data with the same user.

[2016-05-18 15:43] chalkos commented on #170
Since #167 has now been fixed (by release 2.0.0-beta4.2), could you create a minimal example that I can use to reproduce this problem on my end?

[2016-05-18 15:45] chalkos commented on #23
Fixed by https://github.com/keeps/db-preservation-toolkit/pull/197/commits/20e822c7cff14779edddf14f44b547cf9a4182ff

[2016-05-18 15:45] #23 closed

[2016-05-18 15:57] chalkos commented on #20
These cases are handled in the roundtrip tests, except for default values and triggers, but that is database behavioural metadata (not a top priority). Closing this issue since the "Column type changes in MySQL" are now handled correctly in the roundtrip tests.

[2016-05-18 15:57] #20 closed

[2016-05-18 16:01] chalkos commented on #29
#177 supersedes this, because it reports a problem with all DBMS, not just MSSQLServer

[2016-05-18 16:01] #29 closed

[2016-05-18 16:05] chalkos commented on #177
This is not trivial because a default value in a DBMS may not be supported in a different DBMS.

Possible fix: after creating the table, alter it and add the default values one at a time, skipping them if an error occurs because they are not supported by the target DBMS.

[2016-05-18 16:08] chalkos commented on #188
@BorisDomajnko could you try to reproduce this problem with the 2.0.0-beta4.2 release and then provide me the log file?

[2016-05-18 16:45] #182 closed

[2016-05-18 16:45] #196 closed

[2016-05-18 16:45] #199 closed

[2016-05-19 08:06] BorisDomajnko opened #200 "PostgreSQL: date/time format when extracting"
Description:
INSERT INTO ... VALUES ('408314', '82.190', '2008-8-21 +2:0:0', NULL) was aborted.
INSERT INTO ...  VALUES ('408335', '82.110', '2008-11-17 +1:0:0', NULL) was aborted
(dbptk-app-2.0.0-beta4.2)
1. Export from Postgresql to siard-2
2. Create create PostgreSQL -> errors occur
3.

[2016-05-19 08:47] BorisDomajnko commented on #188
dbptk-app-2.0.0-beta4.2.jar, Creation of siard-2 (input: MS Acces)

dbptk-report-20160519102902332.txt:
- Data type import: in schema `PUBLIC` and table `Osebe`, the column `Slika` has type `VARCHAR` which was perceived as `CHARACTER VARYING(16777216)` (SQL99) and `CHARACTER VARYING(16777216)` (SQL2008)

dbptk-app.log.txt:
2016-05-19 10:15:12,061 [main] DEBUG (c.d.m.Reporter) dataTypeChangedOnImpo

[2016-05-19 08:52] BorisDomajnko commented on #177
We do not extract&restore live databases ( or is there such a requirement?).Therefore, if "default" values are already in the package among other data values, why alter db info?

[2016-05-19 08:58] chalkos commented on #200
Without knowing the data types it is really hard for me to narrow down the source of the problem.

Could you provide me the postgreSQL types for the columns in the problematic table?

[2016-05-19 10:04] BorisDomajnko commented on #170
Example db sent by mail.
What could be a solution?
scenario 1: we insist on windows.
scenario 2: we remove the path for included files, but maybe there is a risk to get same names in the folder
scenario 3: we create a  table for translations of hardcoded folder names:  e.g. H:\APPL\TESTD\  ->  ./

[2016-05-19 12:00] BorisDomajnko commented on #200
All source columns with dates are DATE. No time is used. In the SIARD XML I have found for the related table:
<row><c1>408314</c1><c2>82.190</c2><c3>2008-08-21</c3></row

But at restore we get in dbptk-app.log.txt:
java.sql.BatchUpdateException: Batch entry 0 INSERT INTO "prs_druge_dejavnosti" VALUES ('408314', '82.190', '2008-8-21 +2:0:0', NULL) was aborted.  Call getNextException to see the caus

[2016-05-19 16:19] chalkos commented on #177
It's not altering db info. It is using the SQL `ALTER TABLE` instruction.

[2016-05-19 16:33] chalkos commented on #188
It seems that the type of these fields as perceived by the driver is VARCHAR and I don't see an obvious method to distinguish `hyperlink` field from `text` field.

Even if we could distinguish between these types and somehow know that the text is a file path, there are many cases where the referred file could be lost in conversion. Examples:

* It could be a link to a file in an FTP server. The co

[2016-05-19 16:51] chalkos commented on #200
Could you provide me more lines from the log file near `java.sql.BatchUpdateException: Batch entry 0 INSERT INTO "prs_druge_dejavnosti" VALUES ('408314', '82.190', '2008-8-21 +2:0:0', NULL) was aborted. Call getNextException to see the cause.` ?

The exact text is necessary for me to find what part of the code is causing this. Table names and other private info can be replaced by ########, but I n

[2016-05-20 08:57] luis100 commented on #188
This is part of a more general problem of content that is referred by the database but not directly accessible by it. The accessing of the content (be it a binary or something else) is done by the application layer that, in this case, is the Microsoft Access itself.

My solution here would be a new feature (request) that allows content to be enriched by the user so application logic can be injecte

[2016-05-24 14:51] dglab-arquivos opened #204 "siard2 to postgresql ERROR"
Description: when exporting a siard2 to postgresql a message error appears and some data isn't migrated.

Aditional notes: in a table export of 399103 lines only 399049 appear amd in a table of 11 rows 0 apeears  (with select count)
the sabe database was exported to mysql and all the data is exported and no errors appear.
[dbptk-app.log.txt.zip](https://github.com/keeps/db-preservation-toolkit/fil

[2016-05-24 17:01] chalkos commented on #204
This is a bug in PostgreSQL export module. Thanks for reporting it.

Personal notes:
`handleDataCloseTable` in postgresql export module is using the import table id and not the export table id, so it fails because schema `dbo` does not exist. this throws and exception and does not proceed to close the table, everything is left in an unstable state and some of the data is not inserted/committed.

[2016-05-25 08:48] chalkos opened #205 "Ensure that primary keys are only added after the data"
An attempt exists to do this on a per-DBMs basis (using DBMS-specific environment variables, connection string parameters, etc), but it does not work for all cases as I noticed MySQL is not ignoring unique checks, even having the unique checks variable set to false for the connection.

[2016-05-30 08:43] #204 closed

[2016-05-30 11:31] BorisDomajnko commented on #163
Seems to be resolved in 2.0.0-beta4.3. The same test case is successful (and ucsmetadata tables are ignored).

[2016-05-30 11:38] BorisDomajnko commented on #143
2.0.0-beta4.3: the problem still occurs.
It works if I rename Tabela1 to tabela1

[2016-05-30 11:52] BorisDomajnko commented on #163
No, another test case:
2016-05-30 13:49:14,548 [main] INFO  (c.d.m.s.i.c.SIARD2ContentImportStrategy) Obtaining contents from table 'UCA_METADATA.PROP'
2016-05-30 13:49:14,563 [main] DEBUG (c.d.m.j.o.JDBCExportModule) Started data open: UCA_METADATA.PROP
2016-05-30 13:49:14,563 [main] INFO  (c.d.m.j.o.JDBCExportModule) Exporting content to table for UCA_METADATA.PROP
2016-05-30 13:49:14,563 [main]

[2016-05-30 12:24] BorisDomajnko commented on #171
2.0.0-beta4.3: bad dates are now ok. In PostgreSQL I get 0209-11-10.

[2016-05-30 12:24] chalkos commented on #163
Could you please verify that the first use case is really working correctly? (please ensure a clean environment before testing the use case).

I fixed an issue that should allow the export to postgresql process to complete, but with foreign key errors. Could you confirm that this is happening for the first use case?

[2016-05-30 12:44] BorisDomajnko commented on #163
No, I repeated the first use case:

d:\projekti\E-ARK>java -Xmx1g -Dfile.encoding=UTF-8 -jar dbptk-app-2.0.0-beta4.2.jar -i microsoft-access -if d:\projekti\earh\databases\mdb\OsnovnaSredstva1.accdb -e siard-2 -ef out_msa2.siard
      Converting database: microsoft-access to siard-2
      Initializing target database
      Converting database structure
log4j:WARN No appenders could be found for lo

[2016-05-30 13:27] chalkos commented on #163
This confirms my suspicions. The process completes with foreign key errors. I think I have what I need to fix this.

[2016-05-30 13:30] chalkos commented on #143
@BorisDomajnko thanks for the info.

Personal notes: This seems to occur for PostgreSQL modules and now #163 describes a very similar problem. If case-sensitivity is fixed for foreign keys creation, then #163 can also be marked as fixed.

[2016-05-30 13:34] chalkos commented on #171
@BorisDomajnko That is great. It was a problem with MS SQL Server, but apparently it affected other DBMS (in this case PostgreSQL). Could you just verify that the date value is correct? ie, MS Access date `0209-11-10` produces date `0209-11-10` in the SIARD file.

And is this date really supposed to mean the year 209 and not something else like year 2009? It may still be a formatting problem like

[2016-05-30 13:37] chalkos commented on #200
@BorisDomajnko thanks for the info by email, I will get back to this when possible.

Personal note: info in email. email subject is `#200`

[2016-05-30 13:42] chalkos commented on #162
@BorisDomajnko could you test this with beta4.3 and check if the behaviour is similar to the one in #163 ?

[2016-05-31 08:07] BorisDomajnko commented on #162
v2.0.0-beta4.3:
tables:
   public.arhiv_log
   public.tabela1
   sch_testa.users

restore to PostgreSQL - all three tables were created in "public", but the third one was supposed to be in "sch_testa"!

     Converting database: siard-2 to postgresql
     Target database does not exist. Creating database eark_testA
     Exporting database structure
     Exporting schema structure for schema public

[2016-05-31 08:11] BorisDomajnko commented on #171
These are typos in the application with no input control in the GUI, a few dates were entered as for example 209 instead of 2009. During the ingest we just take what we get.

[2016-05-31 08:16] chalkos commented on #162
Thanks @BorisDomajnko

[2016-06-06 10:18] Laurira opened #207 "Error converting SIARD2 with multiple schemas to MySQL"
Description:
I have a postgre database “VAU” with two schemas „public“ (30 tables) and “vau” (54 tables). I assume that when I run the dbptk on that database then I will get all the tables exported but in the end I  get 72 tables instead of 84.

The only errors I get are 175 constraint errors:
168 tell that “Table 'tbl_migration' is already existing”
7 tell that “Table 'vau.tbl_page_article' doesn

[2016-06-08 13:44] andreaskring commented on #194
@chalkos @PhillipTommerholt I had another look at this, and as far as I can see the problem is not within the SIARDDK code. As you describe above, the marshalling fails since the `queryOriginal` is missing.

The `queryOriginal` is handled [here](https://github.com/keeps/db-preservation-toolkit/blob/master/dbptk-core/src/main/java/com/databasepreservation/modules/siard/out/metadata/TableIndexFileSt

[2016-06-08 14:04] chalkos commented on #194
Yes. I will fix this.

[2016-06-08 14:42] andreaskring opened #208 "NullCells not created in case of NULL values when exporting from MySQL to SIARDDK"
Description: When exporting a MySQL database containing only the table
[code]
to SIARDDK an error occurs (NullPointerException in this [line](https://github.com/magenta-aps/db-preservation-toolkit/blob/nullCellProblem/dbptk-core/src/main/java/com/databasepreservation/modules/siard/out/content/SIARDDKContentExportStrategy.java#L270) since `simpleCell.getSimpleData()` returns `null`) since the NULL

[2016-06-08 14:44] andreaskring commented on #194
@chalkos @PhillipTommerholt Great - thank you.

[2016-06-08 15:00] chalkos commented on #208
Yes. it should.

I'm not working on dbptk at the moment. feel free to change it yourself.

Suggestions (untested):

In line https://github.com/keeps/db-preservation-toolkit/blob/master/dbptk-core/src/main/java/com/databasepreservation/modules/jdbc/in/JDBCImportModule.java#L1221 change `cell = new SimpleCell(id, null);` to `cell = new NullCell(id);`

and in line https://github.com/keeps/db-preserva

[2016-06-09 06:21] andreaskring commented on #208
@chalkos Ok - thanks. I will fix it

[2016-06-14 10:59] chalkos opened #209 "NullPointerException importing from MS SQL Server with LOBs"
@Laurira reported an error that may be related to #135

[code]

The issue and logfile were sent by email.

[2016-06-15 10:39] dglab-arquivos opened #210 "Export mssqlservr fails"
Description: Getting contents from table 'dbo.CIBcomum'
ERROR Fatal error: Unexpected exception (null)
Fails on 4.3 version but database exports sucessfully on 4.2 version

Steps required to reproduce the bug:
Export mssqlserver to siard-2 with version 4.3

Attach the dbptk-app.log.txt file below. im 7z
[Logs.zip](https://github.com/keeps/db-preservation-toolkit/files/315945/Logs.zip)

[2016-06-16 06:22] PhillipTommerholt commented on #208
@chalkos @andreaskring

This is also a pilot blocker.

[2016-06-17 13:30] andersbonielsen opened #212 "Support for external file structure of binary data for the SIARD 2.0 format"
**Suport for LOBS stored outside the SIARD archive file**
According to appendix D in E-ARK deliverable 3.3 - SIP Pilot specification
http://www.eark-project.com/resources/project-deliverables/51-d33pilotspec
Latest version of spec. (with changes req. by Bruno)
https://docs.google.com/document/d/1FPTm1JIOJkjXX0OFVkPH_T9duAKjv7CD-pAuCTGV0qY/edit#

Parameters needed:
Set storage of LOBs to be inside

[2016-06-18 00:27] chalkos commented on #212
This is already implemented for SIARD 2. From the usage text for SIARD 2 export module:

[code]

The way it works is passing it the `-eel` parameter to activate the "store LOBs outside" functionality. Then use the defaults (create a new folder every 1000 files, disregarding the size) or specify the "max no. of files per folder" (with `-eelpf value`) and/or the "max total size of file per folder in

[2016-06-18 07:37] andreaskring commented on #208
This have beeb fixed in pull request #211

[2016-06-20 09:21] andersbonielsen commented on #212
Yes, you are correct, I forgot to write that we want the same feature for SIARDDK as we have for SIARD 2.0.

[2016-06-20 09:21] #212 closed

[2016-06-20 10:01] andersbonielsen opened #213 "SIARDDK support for LOBs per folder and LOBs folder size"
We need SIARDDK to have some of the same features as SIARD 2.0 regarding support for LOBS stored outside the SIARD archive file.
Appendix D in E-ARK deliverable 3.3 - SIP Pilot specification
http://www.eark-project.com/resources/project-deliverables/51-d33pilotspec
Latest version of spec. (with changes req. by Bruno)
https://docs.google.com/document/d/1FPTm1JIOJkjXX0OFVkPH_T9duAKjv7CD-pAuCTGV0qY/e

[2016-06-20 10:42] luis100 commented on #213
@chalkos please add milestone to mid July and add this issue to it

[2016-06-23 09:19] #208 closed

[2016-06-23 15:42] chalkos opened #214 "Problem in connection using MS SQL Server export module (but import works)"
Description: MS SQL Server export module fails to connect, even though the same connection parameters work in the import module.

[code]

Possibility of this being a network or temporary problem unrelated to dbptk has been excluded.

Log and parameter information sent in an email.

Reported by @laurira by email.

[2016-06-30 13:25] BorisDomajnko commented on #188
In the archives we do not prefer to modify the records of the creators. In this case I would rather ask them to filter values in such a problematic column before they pack it into SIP. This is why we execute test ingest - we would find an issue and then reject the first SIP. Therefore I do not see a need for a change in DBPTK.

[2016-06-30 13:37] chalkos commented on #188
This transformation would have to be applied by the producer, so it would in fact become the "records from the creator" and not a modified version.

Rejecting the SIP and forcing the producer to filter out some data could lead to losing (potentially) precious information.

Instead the producer could apply a transformer and make modifications to the data, so it is provided in a way that DBPTK can h

[2016-07-04 10:25] chalkos commented on #170
I will try to make scenario 3 work. If it doesn't neither 1 nor 2 seem to be good enough alternatives and I would have to find some other way.

Is this a pilot blocker?

[2016-07-04 10:53] #209 closed

[2016-07-04 10:53] #214 closed

[2016-07-04 11:51] mezeijozsef opened #215 "Oracle schema/tablespace error."
Importing SIARD to Oracle, we got some errors last week:
- the tablespace must be exist with the same name as schema
- and the tablespace must be the default for the user

These errors shouldn't be holding the user down, i think these rules/features could use some improvement.

![dbptk-error-v2](https://cloud.githubusercontent.com/assets/19432723/16559615/5fa318cc-41ee-11e6-8ba7-a6fe8c46e8d6.png)

[2016-07-04 12:30] #210 closed

[2016-07-04 12:53] chalkos commented on #215
Thank you for your feedback. I will look into this, but the solution it might still be a workaround, because some Oracle features (like tablespaces management) are difficult to control from an external program (like dbptk).

[2016-07-05 09:07] chalkos commented on #162
Fixed by #216

[2016-07-05 09:07] #162 closed

[2016-07-05 09:18] chalkos commented on #163
This is partially fixed by #216
Now a schema `public` should be created containing the MS Access tables, and another schema `UCA_METADATA` will contain metadata information (this is internal).

In the future I should be able to retrieve information from `UCA_METADATA` because it may have comments/descriptions on columns or tables.

I'm closing this issue since the error should not appear anymore.

[2016-07-05 09:18] #163 closed

[2016-07-05 09:18] chalkos opened #217 "Use UCA_METADATA info in MS Access import module"
The MS Access driver is providing an additional schema called `UCA_METADATA` which I believe contains additional metadata.

I should explore this schema to understand which data it contains and which may be relevant (like comments/descriptions or type definitions).

This issue is a followup on #163

[2016-07-05 09:44] chalkos commented on #77
When Java 9 is released with plugin support, DBPTK may move from java 7 to 9 and use that functionality.

[2016-07-05 09:45] chalkos commented on #184
Fixed in #216

[2016-07-05 09:45] #184 closed

[2016-07-05 09:49] chalkos commented on #118
@PhillipTommerholt this is pretty old... do you mind checking if this has been fixed or if this problem still exists in the latest version?

And also, is this blocking a pilot?

[2016-07-05 09:53] chalkos commented on #121
@andreaskring do you have the database to test this if I fix it?

[2016-07-05 09:55] chalkos commented on #130
superseded by #174

[2016-07-05 09:55] #130 closed

[2016-07-05 10:00] PhillipTommerholt commented on #118
This issue is fixed.
![untitled](https://cloud.githubusercontent.com/assets/15984159/16581113/13ff5bdc-42a8-11e6-803e-bdaec52289ad.png)

(I just checked).

[2016-07-05 10:01] chalkos commented on #143
Fixed in #216

Turns out the problem was not the table case, but using a schema other than public.

[2016-07-05 10:01] #143 closed

[2016-07-05 10:16] chalkos commented on #171
Fix confirmed. Closing the issue.

[2016-07-05 10:16] #171 closed

[2016-07-05 10:42] chalkos commented on #132
To wrap up this issue, a few (beta) releases ago I forced the default charset/encoding used in dbptk to be UTF-8 (worst case scenario by forcing the user to use a specific extra parameter). The definitions for charset/encoding vary and even overlap depending on the source, making this discussion harder :)

By forcing UTF-8 globally, dbptk ensures that all textual content will be read and written i

[2016-07-05 10:42] #132 closed

[2016-07-05 12:30] mezeijozsef opened #219 "Error when importing siard to oracle"
Description: Error when importing siard to oracle
![dbptk-burtmp1](https://cloud.githubusercontent.com/assets/19432723/16583808/475acc54-42b8-11e6-9dc6-03c01c745631.JPG)
Steps required to reproduce the bug:

1. Export BUR_TMP1 Oracle to SIARD 2.0
2. Drop the tables in BUR_TMP1 to get an empty schema - so import can be possible
3. Import this SIARD 2.0 back to BUR_TMP1 Oracle - error

Attach the db

[2016-07-05 12:32] andreaskring commented on #121
@chalkos No, sorry. I do not have a DB for testing this. But maybe it can be tested by making a database in PostgreSQL containing a single table with a singe row containing a very large or small number of the type 'real'?

[2016-07-05 13:29] chalkos commented on #121
Yes, that was my second option ;)
I'll probably do this in a test driven dev way. thanks!

[2016-07-05 13:30] #118 closed

[2016-07-05 13:51] chalkos opened #220 "Solr export module configuration"
Support Solr export module parameters:

- [x] solr cloud server address
- [x] solr cloud server port
- [ ] zookeeper address (?)
- [x] zookeeper port
- [ ] ...what else?

[2016-07-05 13:52] chalkos commented on #219
Is this a pilot blocker?

[2016-07-05 14:46] chalkos commented on #194
The fix I implemented tries to obtain the SQL and if it can't it sets the `originalQuery` to "unknown" (may be changed if you believe there is a better value).

Limitations of MSSQL server may get in the way of getting valid SQL statements:
(source http://stackoverflow.com/a/4765478)

These are the main reasons why I added a default value for `originalQuery`.
@PhillipTommerholt is "unknown" a good

[2016-07-05 15:10] #219 closed

[2016-07-06 06:40] PhillipTommerholt opened #222 "SIARDDK: missing subfolder "localShared""
A minor but missing functionality:
DBPTK does not create a subfolder named `localShared` in the folder `schemas`.

[2016-07-06 06:53] PhillipTommerholt opened #223 "SIARDDK: update standard schemas"
Due to an upgrade for the SIARDDK validator "ADA", the DNA will make changes in some of the mandatory standard schemas.

Here is the revised `Schemas\standard` subfolder with all necessary schemas:
Edit 19/9
[standard.zip](https://github.com/keeps/db-preservation-toolkit/files/479428/standard.zip)

DBPTK for SIARDDK export module should create this revised folder instead of the current.

Best rega

[2016-07-06 08:44] PhillipTommerholt opened #224 "MS SQL Server export of tables with different "schemas"."
This is a pilot blocker.

_**What I did:**_
I tried the new beta5.jar and exported to SIARDDK
I have an altered Northwind database with the regular 13 dbo.schemas + 1 schema that is not dbo.
![schemas](https://cloud.githubusercontent.com/assets/15984159/16611184/0581ffb6-4360-11e6-8bf3-fa1b148c5f34.PNG)
I used the listtables function and exported all tables.

In tableIndex.xml (same as SIARD2.0 me

[2016-07-06 09:20] chalkos commented on #224
Does this mean taking the SIARD and using DBPTK to load it in a DBMS? If so, which DBMS?

because this:

is the expected behaviour for SIARD2...

In SIARD 2, in the metadata.xml, the "Database level metadata" includes an element schemas (mandatory) defined as "List of schemas in the database". This is the `<schemas>...</schemas>` element. Then we have the "Schema level metadata" (of which you post

[2016-07-06 12:51] PhillipTommerholt commented on #224
I am only talking about the export from MS SQL Server to SIARD.

Are you saying that there is a little mistake in the SIARD2.0 spec?
This:

![conceptschema](https://cloud.githubusercontent.com/assets/15984159/16618050/7e93f68a-4387-11e6-89e8-3a77c54c9094.PNG)

Should be:

![conceptschemanew](https://cloud.githubusercontent.com/assets/15984159/16618248/a9583b82-4388-11e6-94cd-411a85af8ab0.png)

??

[2016-07-06 13:01] chalkos commented on #224
Now I understood the source of your questions (the bigger red text helped ;)
Yes, that seems to me like a little mistake. And that should be amended. Will you handle that? Or should I do it?

By the way, I noticed another small mistake: "List of the queries stored in the schema" should be "List of the views stored in the schema", don't you agree?
(@andersbonielsen you are also welcome to comment o

[2016-07-06 13:04] chalkos commented on #224
@PhillipTommerholt and so in conclusion, is this a SIARD-DK specific issue?

[2016-07-06 13:12] PhillipTommerholt commented on #224
Yes, I agree with your proposed change as well.
I do not know the procedure for making changes to the spec. I was of the impression that the spec was finalized.

To conclude: this is a specific SIARDDK pilot blocker.

[2016-07-07 06:18] PhillipTommerholt commented on #223
Info: there are only minor revisions in two of the schemas:
-fileIndex.xsd: revisions due to IPs with GML, not relevant for DBPTK other than that the revised fileIndex.xsd has to be in the standard folder..
tableIndex.xsd, the datatype INTERVAL is now allowed to appear only as INTERVAL in tableIndex.xml.

[2016-07-07 09:55] PhillipTommerholt opened #225 "SIARDDK: NullPointerException when handling textual content"
This is a pilotblocker.

I used beta5.jar on one of our pilot databases (MS SQL Server) and tried to export to SIARDDK.
I am getting null errors in 3 tables.

See the first error in a shortened anonymized log:
[Pilotblockernull.pdf](https://github.com/keeps/db-preservation-toolkit/files/351857/Pilotblockernull.pdf)
I do not think that the log points to a certain column, so I am not sure where the

[2016-07-08 11:07] dglab-arquivos opened #226 "microsoft- acess to siard2 fails"
Description: microsoft- acess to siard2 fails

Steps required to reproduce the bug:

java  "-Dfile.encoding=UTF-8" -jar  dbptk-app-2.0.0-beta5.jar -i  microsoft-access -if bacess.mdb -e siard-2 -ef paisagens.siard2

tried also with beta4.3 and similar error

[dbptk-app.log.txt.zip](https://github.com/keeps/db-preservation-toolkit/files/354066/dbptk-app.log.txt.zip)

Attach the dbptk-app.log.txt fi

[2016-07-11 08:44] chalkos commented on #226
Is there anything about this file that may be problematic? Like being encrypted or partially corrupted.

The error message in the log just mentions an unexpected object while reading the file, which is not very informative, other than the file's contents were not in the correct order or some were missing.

In the meantime I will try to use the latest MS Access conector to create a private release

[2016-07-11 10:00] dglab-arquivos commented on #226
We assume that is a good file.

Tried with other access file, lots of entries ( +- 400k entries) and this is the error:
Converting database structure
Exception in thread "main" java.lang.OutOfMemoryError: GC overhead limit exceeded
        at java.nio.ByteBuffer.wrap(Unknown Source)
        at java.nio.ByteBuffer.wrap(Unknown Source)

for the moment we don’t have any other access file but will try

[2016-07-11 10:02] PhillipTommerholt commented on #195
This is fixed in beta5.

[2016-07-11 10:04] PhillipTommerholt commented on #191
this is fixed in beta5.

[2016-07-11 13:17] chalkos opened #227 "Microsoft Access import module out of memory error"
We assume that is a good file.

Tried with other access file, lots of entries ( +- 400k entries) and this is the error:
Converting database structure
Exception in thread "main" java.lang.OutOfMemoryError: GC overhead limit exceeded
        at java.nio.ByteBuffer.wrap(Unknown Source)
        at java.nio.ByteBuffer.wrap(Unknown Source)

for the moment we don’t have any other access file but will try

[2016-07-11 13:22] chalkos commented on #226
That is a different problem with a different database. I would like to keep one github issue per problem and so I created a new issue with the info you provided me (#227).

I hope you have received the application version I sent you by email. Were you able to test it with this "paisagens" database?

[2016-07-11 13:24] #191 closed

[2016-07-11 13:25] #195 closed

[2016-07-12 13:14] chalkos commented on #226
Status: I have a simpler file containing only the problematic table in my email that I was able to use to reproduce the problem.

Updating to the latest MS Access conector fixed some problems in other tables, so that was also an improvement.

[2016-07-14 08:25] PhillipTommerholt opened #228 "SIARD2 export module, MS SQL server: Error while exporting trigger"
This is a pilot blocker.
For a database on MS SQL server I tried to export to SIARD2 with the beta5.jar.

I got the following error:

Fatal error while converting the database (Error while exporting trigger: trigger triggeredAction cannot be black) com.databasepreservation.model.exception.ModuleException: Error while exporting trigger: trigger triggeredAction cannot be black

[stud.txt](https://gi

[2016-07-14 09:51] chalkos commented on #228
black? what a typo, I need to change that to "blank" :sweat_smile:

Are you able to identify the problematic trigger? It seems like MS SQL import module is not being able to identify some information about the trigger.

I would like you to do one or both of these things:

1) Could you look for any "handled SQLException" somewhere in the log file? It should be a "DEBUG" message and may provide some

[2016-07-14 11:30] PhillipTommerholt commented on #228
1) There are no messages of that sort
2) I will try to do that, but first:

I have found a problem in the table where DBPTK crashes. There are no triggers in the table, but an user ("public") has been granted permission to the table (delete, insert, select, update). However, there are no effective permissions since the user does not exist in the database. (Error: Cannot execute as the database pri

[2016-07-14 13:04] chalkos commented on #228
Maybe. But if there are no triggers in that table that seems unlikely. Unless the permissions corruption that seems to be happening is hiding an existing trigger for that table...

The execution of the query in my previous comment should provide us some more details.

[2016-07-15 07:02] PhillipTommerholt commented on #228
There is only one trigger.
The `TRIGGERED_ACTION` goes like this:

[code]

[2016-07-15 08:48] chalkos commented on #228
Could you check in the log (or report file) if this table is one of the tables that DBPTK is trying to export to SIARD?

[2016-07-15 08:50] PhillipTommerholt commented on #228
DBPTK is trying to export this table, yes.

[2016-07-15 08:52] chalkos commented on #228
The SCHEMA_NAME and TABLE_NAME in the query results correspond to `dbo` and `tablename1` that you referenced above?

[2016-07-15 08:58] PhillipTommerholt commented on #228
Yes.

[2016-07-15 09:19] PhillipTommerholt commented on #228
Oh sorry, I think I misunderstood your question.
No, it has nothing to do with the table with granted permissions.

[2016-07-15 09:43] chalkos commented on #228
In fact, DBPTK uses this query:

[code]

And I thought I could provide you a shortcut by listing all the trigger info to find the problematic one, but it doesn't seem to be working... :/

*So here comes the non-shortcut way:*

I would like you to run DBPTK, but instead of creating a SIARD, use the list-tables export module to list all the tables that would be exported to SIARD.

Then, for each tab

[2016-07-15 11:26] PhillipTommerholt commented on #228
The database has 288 tables...

I have isolated the table which had the trigger:

[code]

And it is indeed this table(/trigger) that cannot be exported. I am getting the exact same error when I try to export this table only.

[2016-07-15 11:38] chalkos commented on #228
I didn't realise that there were that many, sorry :sweat_smile:

This is strange. I'm going to need some more info. Since I can't have the database (and a minimal example might be hard to produce), I will be creating a special DBPTK version that logs more info about the triggers, to try to find the source for this problem. I'm just finishing up on another task and then I'll create this version.

[2016-07-15 11:39] chalkos commented on #228
Could you also try running the query (the last one I gave you) but only for the problematic table (and respective schema)?

[2016-07-15 11:43] PhillipTommerholt commented on #228
Yes, I already did. Both queries give the same result.

Btw, this databasehas one schema only.

[2016-07-15 13:09] chalkos commented on #228
I'll create the special version then.

[2016-07-18 09:46] chalkos commented on #228
Try the conversion with this version:
[dbptk-app-2.0.0-beta5-228-1.zip](https://github.com/keeps/db-preservation-toolkit/files/368681/dbptk-app-2.0.0-beta5-228-1.zip)

Look for the new debug information in the log file, they all start with `issue228: ` to be easier to find.
This should tell us which triggers are being exported and the information they contain.

I don't know if you noticed, but DBP

[2016-07-18 11:00] PhillipTommerholt commented on #228
Thx Bruno.

I only exported the problematic table with the trigger, and here you have the edited log:
[triggerlog.txt](https://github.com/keeps/db-preservation-toolkit/files/368835/triggerlog.txt)

In the log you can first find a `handled SQLException` looking for remarks (on the trigger?) and a more comprehensive error `issue228`.

[2016-07-18 11:06] PhillipTommerholt commented on #228
I guess the problem is that DBPTK is looking for a comment on a trigger, which it can't find since triggers can't have comments. Great detective fix, Bruno :+1:

[2016-07-18 11:51] PhillipTommerholt commented on #228
I am looking into documentation of triggers.
At a first glance it looks like that the SQL:standard includes documentation, but I haven't found any of the big vendors that have actually implemented it.

[2016-07-18 14:08] chalkos commented on #226
Please try this new version [dbptk-app-2.0.0-beta5-226-2.zip](https://github.com/keeps/db-preservation-toolkit/files/369206/dbptk-app-2.0.0-beta5-226-2.zip). It does not fix the problem itself, but includes information to the producers so they can fix the Ms Access file and try the conversion again.

The problem occurs because the table name contains an `'` (apostrophe) character.
This problem see

[2016-07-18 14:23] chalkos commented on #228
The problem is not the comment/remark, because it is optional in SIARD and so it not being there is not an error.

The problem is in
[code]

The `triggeredAction` should contain the query you obtained above (here: https://github.com/keeps/db-preservation-toolkit/issues/228#issuecomment-232927977), but instead it is NULL. This is a mandatory field for triggers in a SIARD file, so I made the creatio

[2016-07-18 14:40] chalkos commented on #228
This version logs additional information: [dbptk-app-2.0.0-beta5-228-2.zip](https://github.com/keeps/db-preservation-toolkit/files/369303/dbptk-app-2.0.0-beta5-228-2.zip)

new debug info is between
`issue 228: --------- TRIGGER RESULTSET METADATA - START`
and
`issue 228: --------- TRIGGER RESULTSET METADATA -  END`

Please try it and send me the debug info.

[2016-07-18 15:55] dglab-arquivos commented on #226
It seems a fair solution. Done some tests and its ok.

Converting database structure
WARN  Ignoring table 'Unload Worksheet$'_ImportErrors in schema PUBLIC because it constains one of these non-supported characters: '
      Obtaining table structure for PUBLIC.Concelhos

After removing the ' on the table name

Obtaining table structure for PUBLIC.Unload Worksheet$_ImportErrors

Getting contents fr

[2016-07-18 16:03] #226 closed

[2016-07-19 06:14] PhillipTommerholt commented on #228
Here is the log. It didn't get to `- END`
[228-2.log.txt](https://github.com/keeps/db-preservation-toolkit/files/370752/228-2.log.txt)

[2016-07-19 08:41] chalkos commented on #228
I made a small mistake there :sweat_smile:

This one should be good: [dbptk-app-2.0.0-beta5-228-3.zip](https://github.com/keeps/db-preservation-toolkit/files/370995/dbptk-app-2.0.0-beta5-228-3.zip)

[2016-07-19 09:57] PhillipTommerholt commented on #228
This gave these results:
[228-3.log.txt](https://github.com/keeps/db-preservation-toolkit/files/371143/228-3.log.txt)

[2016-07-19 12:42] chalkos commented on #228
Ok, this is inconclusive until now.

The query in SQL Server Management Studio (or anything else you are using) shows a value for `TRIGGERED_ACTION` but DBPTK "looses" this value somewhere between getting the value and writing it to the SIARD metadata xml (or maybe it doesn't event get the correct value in the first place).

I was trying to make sure the query was working correctly on DBPTK, and i

[2016-07-19 12:42] chalkos commented on #228
I forgot to mention, look for debug messages starting with `issue228-2: `

[2016-07-19 13:17] PhillipTommerholt commented on #228
No worries. We both have the same goal :)

Log:
[228-5.log.txt](https://github.com/keeps/db-preservation-toolkit/files/371501/228-5.log.txt)

[2016-07-19 14:02] chalkos commented on #228
Look for `issue228-3` in this one [dbptk-app-2.0.0-beta5-228-6.zip](https://github.com/keeps/db-preservation-toolkit/files/371606/dbptk-app-2.0.0-beta5-228-6.zip)

Are you able to create a small example (with different names and no data) that I can import in a SQL Server? I'm assuming this is hard, but I'm almost out of options and we might need to consider doing that. I may need to dig deeper to

[2016-07-20 06:46] Laurira commented on #129
It appears to have problems with tsvector as well.
Possibility of incomplete type definition: Could not determine SQL2008 type for tsvector
Should it be handled in separate issue?

[2016-07-20 08:57] chalkos commented on #129
I read something about it and it seems that tsvector is a list of *normalized* words. I guess they fit in this issue, thanks for bringing it to my attention.

If this proves to be very different from an array, I'll close this issue when I complete array support and create a new one for tsvector.

[2016-07-20 09:13] PhillipTommerholt commented on #228
Here is the log.
[228-6.log.txt](https://github.com/keeps/db-preservation-toolkit/files/373215/228-6.log.txt)

Let me know if I should try to create an anonymized data-empty database.

[2016-07-20 09:50] PhillipTommerholt commented on #228
Additional info which might have no value:

I have created a new database and then exported the problematic table which has the trigger. The export was without constraints, indexes, triggers etc. I then created the trigger on the copied table in the new database.
This gave no problem when exporting to SIARD2 with DBPTK.

[2016-07-20 10:01] chalkos commented on #228
The log does not add anything new.
DBPTK can not get the TRIGGERED_ACTION and I don't know why, because it should be able to in normal circumstances (and it does, as you proved in your following comment).

I was going to ask you to try exactly that: start with a new sane/clean environment and manually re-create the minimal structure (table+trigger) to check if DBPTK can handle that.

So now we kno

[2016-07-21 13:19] PhillipTommerholt commented on #228
I tried to run your sql:
[code]
on the original problematic database, and the newly created database (with one table and the trigger) where DBPTK has no problems exporting.

It seems that even though I scripted the trigger as create to, the trigger in the new database is not identical with the old one. There is a linebreak more in the new one. I don't know if this might be relevant?

Old:

[code]

[2016-07-21 13:25] chalkos commented on #228
Odd, but I don't think that the line breaks are causing the problem. The new one has linebreaks too and exports ok.

[2016-07-22 08:58] PhillipTommerholt commented on #228
Hi Bruno,

I have finally found the problem.
And it was a very basic problem not related at all to triggers :sweat:

Somehow when I created the login and the user which DBPTK used to connect to the database with, I did not give the login any ownership of the db_owner schema....
I have done this in all my other extraction attempts, but I missed it here. This also explains why I couldn't reproduce t

[2016-07-22 09:28] chalkos commented on #228
Oh well.. it was user permissions after all...
I'm closing this, as it seems to be fixed now :wink:

[2016-07-22 09:28] #228 closed

[2016-07-22 09:32] PhillipTommerholt commented on #228
Yes,
Sorry for taking up your time.
- Phillip

[2016-07-22 09:33] chalkos opened #231 "Change log messages"
merge the ones from #229

[2016-07-22 09:36] chalkos commented on #228
It's ok, this happens sometimes when finding/fixing bugs.

[2016-07-22 11:16] mezeijozsef commented on #219
Yes it is part of the pilot.

[2016-07-22 11:17] mezeijozsef opened #232 "Information loss when roundtriping Oracle -> SIARD -> Oracle"
Description: There is an error, while importing a SIARD into oracle schema:

![dbptk -queries](https://cloud.githubusercontent.com/assets/19432723/17055555/ce042996-500d-11e6-9c89-4bbb1be744ba.JPG)

It means: the importing can be done, but some of the data will be lost. Importing a SIARD what is for example 48 MB, and then exporting it again, we will get a 46 MB file.

Steps required to reproduce

[2016-07-22 11:20] chalkos commented on #219
Ok. thanks for the info.
By the way, this has been fixed in release beta5

[2016-07-22 11:23] chalkos commented on #232
I will look into this.
I'm also assuming that this is needed for a pilot, is that correct?

[2016-07-22 11:25] mezeijozsef commented on #219
There is another error now i just submitted :)

[2016-07-22 11:27] mezeijozsef commented on #232
Yes that is correct.

[2016-07-28 07:04] PhillipTommerholt opened #233 "Files not removed from temporary folder after successful export"
I exported a 134GB database including LOBs from a MS SQL Server to SIARD2.0.
I exported to a single SIARD-file (no external lobfolder).

I changed the parameter for temporary folder `-Djava.io.tmpdir=/media/BIGHD/tmp`

After 8.4 hours (504 minutes) the export succeeded.
However, the temporary folder was still full of LOBs.

---------------

Tasklist for this (by @chalkos):
- [x] SIARD1 and SIARD2:

[2016-07-28 07:36] PhillipTommerholt commented on #233
I just checked on one of my other setups where I haven't changed the parameter for temporary folder.
There are also files there, that haven't been deleted/removed.

[2016-07-28 09:17] chalkos commented on #233
It's good to know you succeeded in exporting a large database 😄

I'll make sure to remove the temporary files as soon as they are not needed. I'll also try to avoid leaving temporary files behind when an error occurs.

It may be a good idea to check if this also happens on SIARD-DK.

[2016-07-28 10:04] PhillipTommerholt commented on #233
Yes, the tool works nice. :+1:

I just checked and the SIARD-DK also needs to clean up.  :put_litter_in_its_place:

Just asking out of curiosity: can there be performance optimization by not putting all LOBs in the root of the same temporary folder?

[2016-07-28 10:46] chalkos commented on #233
I don't think so. At least not significantly.
You could set the temporary folder to a faster disk (or SSD) and that should improve the conversion speed if there are a lot of lobs (reading and writing to disk are the slowest internal operations,

[2016-08-01 08:04] PhillipTommerholt opened #234 "SIARD2.0 Export fails for LOBs outside the SIARD folder structure"
I have a pilot database that successfully exports to SIARD2.0 where CLOBs and BLOBs are stored as files inside the SIARD table folder structure.

When I try to export to a folder outside the SIARD folder structure, i.e. outside of the SIARD archive file, the export process stops after 55.000 LOBs have been successfully created.  See error message:
[externallobs.txt](https://github.com/keeps/db-pre

[2016-08-01 09:31] PhillipTommerholt commented on #234
Update:
I have isolated the table by the list-tables-module and so far it has exported 150.000 files from the table.. so it might just be an i/o mistake not related to the DBTPK.

I will try to make a full export again if the export of the table succeeds.

[2016-08-01 09:31] #234 closed

[2016-08-01 10:01] chalkos commented on #234
(as you probably already know) There are 3 ways to store LOBs:
1. inlined inside the XML,
2. as a file inside the zip,
3. as a file outside the zip.

This is because DBPTK is using method 1 for small LOBs and 2 for bigger ones. Although this seems to work great and seems like kind-of intelligent behaviour, the SIARD spec (or the LOB recommendation) recommends that only one method is used, i.e. eit

[2016-08-01 11:19] andreaskring opened #235 "Maven build error: cannot access http://artifactory.keep.pt/keep"
Description: cannot build latest version of the master branch with Maven.

Steps required to reproduce the bug:

1. Fetch the latest version of the master branch with git and switch to this branch.
2. Run `mvn clean package`

Maven complains about not having access to artifactory.keep.pt... (see attached log file
[mvn.txt](https://github.com/keeps/db-preservation-toolkit/files/393596/mvn.txt))

[2016-08-01 11:23] chalkos commented on #235
I've been using local dependencies. I'll fix that in a moment.

[2016-08-01 11:42] chalkos commented on #235
It turns out that I have not been using local dependencies after all. Are you able to access [this file](http://artifactory.keep.pt/keep/com/databasepreservation/visualization/dbvtk-model/1.0.0-SNAPSHOT/maven-metadata.xml) from your browser?

This seems like a network problem. And it works for me, even when accessing from outside KEEPS... can try again or check if there is some firewall blocking y

[2016-08-01 11:43] andreaskring commented on #235
Yes - I can access the file you link to.

[2016-08-01 11:46] chalkos commented on #235
Ok, so it's not a network problem.

Maven was complaining that it could not access it (permission denied). Try maven again. If it can not access it may be a maven problem.

[2016-08-01 11:49] andreaskring commented on #235
Ok - I have just tried `mvn clean package` again and now it is working. I am getting some warnings though (see below - should I worry about these), but the build is successful. Thanks for the help.

Downloading: file://${project.basedir}/../vendor-libs/repository/com/databasepreservation/visualization/dbvtk/1.0.0-SNAPSHOT/maven-metadata.xml
[WARNING] Could not transfer metadata com.databasepreserv

[2016-08-01 11:54] chalkos commented on #235
Maybe it has something to do with it being a snapshot, so it is trying to get it from the local repository and failing (because it is not there but in keep's artifactory). But it does obtain it from keep's artifactory because otherwise it would not compile.

That said, you can ignore those warnings.

[2016-08-01 11:54] #235 closed

[2016-08-01 12:12] PhillipTommerholt commented on #234
I got the same search result and that is why created this issue.
However, it seems that there is a volatile connection to the disk that I use as destination folder (and temp folder).

I am running a new export with another disk. The problematic table has been exported successfully (500.000 CLOBs) and is on its way to export the rest of the tables.

I changed the parameter. In the first run I set t

[2016-08-01 12:53] andreaskring commented on #225
@PhillipTommerholt This should be fixed now. Could you please check, if it is working in your end (you can use the jar file located here: https://drive.google.com/file/d/0B8hAEqjI-ScYNlVva0RJa01JSkU/view?usp=sharing)

[2016-08-01 13:08] PhillipTommerholt commented on #225
Thx! I can give you an answer tomorrow.

[2016-08-01 13:13] chalkos commented on #215
Personal note: maybe I don't need to mess with tablespaces after all: https://community.oracle.com/thread/1116835?tstart=0

[2016-08-02 10:42] BorisDomajnko opened #237 "MS Access: '' shown for empty cells in PostgreSQL"
Description:
MS Access db has a field Short text where one character is entered. After export&restore the empty fields show ''.

Steps required to reproduce the bug:

1. use 2.0.0.beta5 and extract the db (file Prs1.accdb)
    The values in column are single characters like A, B, C, or nothing.
2.  restore to Postgresql
3.  the result is Character varying (1), but the empty cells are (in PgAdmin I

[2016-08-02 10:53] andreaskring commented on #224
This should be fixed in the jar file located [here](https://drive.google.com/file/d/0B8hAEqjI-ScYOGlCWGNVVlJZNWs/view?usp=sharing). The same problem occured for different schemas in PostgreSQL databases. @PhillipTommerholt Could you please check if jar in the link above is working for you?

[2016-08-02 10:57] PhillipTommerholt commented on #224
Yes.
I will give you an answer today, together with the answer from the NULL-error.

[2016-08-02 11:22] BorisDomajnko commented on #170
No, it is not a blocker because it works on windows.

[2016-08-02 11:34] PhillipTommerholt commented on #225
This is fixed :thumbsup:

[2016-08-02 11:40] PhillipTommerholt commented on #224
This is fixed :+1:

[2016-08-02 11:45] #224 closed

[2016-08-02 11:45] #225 closed

[2016-08-02 12:39] BorisDomajnko opened #238 "Postgresql: error with schema name with upper letter"
Description:

2.0.0-beta5:
1.  schema name: sch_testa
2.  creation of siard works:
      Obtaining table structure for sch_testa.users
      Database structure converted
3. schema renamed: sch_testA
4. creation of siard error:
      Obtaining table structure for sch_testA.users
      ERROR Connection error while importing/exporting
      ERROR Fatal error while converting the database (SQL error w

[2016-08-02 12:51] BorisDomajnko opened #239 "Postgresql: error with table name with upper letter"
Description:
2.0.0.-beta5

1. the original table name has upper letters (regust.upravna_enotaOLD),
2. creation of siard file: the error occurs.

Attach the dbptk-app.log.txt file below.
2016-08-02 14:46:23,067 [main] DEBUG (c.d.m.Reporter) dataTypeChangedOnImport, invoker: com.databasepreservation.modules.postgreSql.in.PostgreSQLJDBCDatatypeImporter; message: - Type conversion in import module: in

[2016-08-02 13:28] PhillipTommerholt commented on #194
Hi,
I never answered this one. Just to be safe:

DBPTK tries to retrieve the original query no matter if it is valid or not, and:

**If it can:**
In SIARD2.0 it gives the result in metadata.xml in the specific view with the element: `<queryOriginal>select * bla bla bla</queryOriginal>`
In SIARDK DK it gives the result in tableIndex.xml in the specific view with the element: `<queryOriginal>select

[2016-08-02 13:58] BorisDomajnko opened #240 "MS Access to siard: unsupported collating sort order"
MS Access file has included mdb. When creating a siard file warnings are reported.

1. main file: Izkaznice_IV_MNZ.mdb, included file: evidenca_2004.mdb
2. java -Xmx1000m -Dfile.encoding=UTF-8 -jar d:\projekti\e-ark\dbptk-app-2.0.0-beta5.jar -i microsoft-access -if Izkaznice_IV_MNZ.mdb -e list-tables -ef out_izk1_tables.txt
2. warnings are on the screen, but I can't see anything in dbptk-app.log.t

[2016-08-02 14:22] chalkos commented on #240
Can you try to repair or migrate the file to the latest MS Access version?

The file seems to be partially corrupted and maybe access can recover it or using access to convert the file to the newest access file format may fix the problem.

[2016-08-02 14:32] chalkos commented on #194
Then it is not working correctly, since queryOriginal is being saved as `unknown` in SIARD2.

Tasklist @chalkos:
- do not set `unknown` as default value

Tasklist @andreaskring:
- set `unknown` as default value when writing the XML if getQueryOriginal is blank.

[2016-08-02 14:36] andreaskring commented on #157
@chalkos This can be closed

[2016-08-02 14:49] chalkos commented on #233
@andreaskring I would like you to do the 2nd item in this issue's description ("SIARD-DK: remove temporary files on successful runs") since it is related to SIARD-DK. Would that be ok?

I will do the first and maybe the third.
The fourth appears to be way more difficult and will be on hold for now.

[2016-08-02 15:08] chalkos commented on #157
thanks

[2016-08-02 15:08] #157 closed

[2016-08-03 06:29] andreaskring commented on #233
@chalkos Yes, that is ok

[2016-08-03 06:43] PhillipTommerholt opened #241 "SIARDDK Handling of missing primary keys"
If some tables in a database for some reason have no primary keys, the export to SIARDDK stops with fatal error.

In SIARDDK primary keys are mandatory.

DBPTK should handle this by not killing the export and instead create dummy primary keys in tableIndex for the relevant tables, and present the user with an warning.

[2016-08-03 07:37] PhillipTommerholt commented on #241
This could be a pilot blocker. I am awaiting answer from the pilot site and the DNA archivist whether the specific tables with no keys will have to go into the SIP. So @andreaskring if you have more urgent issues I would take these first. But it would be a nice fix, so it's up to you.

[2016-08-03 09:47] BorisDomajnko commented on #240
I can export evidenca_2004.mdb to siard without "WARN unsupported collating sort order".
The problem occurs only when it is included.

[2016-08-03 09:50] BorisDomajnko commented on #240
Sorry, ignore my previous comment. I have evidenca_2004.mdb and evidenca 2008.mdb. One is ok, one is not!

[2016-08-03 09:50] chalkos commented on #241
@PhillipTommerholt if I may weight in on this, I don't think having the application create dummy primary keys is a good idea. This strategy is prone to choosing the wrong fields and that may have repercussions later on.

I would suggest that the SIARD-DK export module fatally fails sooner (as soon as the database metadata is handed to the export module) when there are tables without a primary key.

[2016-08-03 09:57] chalkos commented on #240
So I'm a little confused now... To clarify things, please test the following:

1. evidenca_2004.mdb by itself can be exported to SIARD without the warning
2. evidenca_2008.mdb by itself can be exported to SIARD without the warning
3. converting Izkaznice_IV_MNZ.mdb that includes evidenca_2004.mdb produces the warning
4. converting Izkaznice_IV_MNZ.mdb that includes evidenca_2008.mdb produces the w

[2016-08-03 10:32] BorisDomajnko commented on #240
-evidenca_2004.mdb by itself can be exported to SIARD with the warning!
-evidenca_2008.mdb by itself can be exported to SIARD without the warning
-converting Izkaznice_IV_MNZ.mdb that includes evidenca_2004.mdb and evidenca_2008.mdb produces the warning for evidenca_2004.mdb

This is the data from the producer and badly supported. Is this warning important? If all the tables get into the siard SIP

[2016-08-03 10:42] chalkos commented on #240
I'm not worried about the sorting. The warning may be a signal that something may be wrong (corrupted?), not necessarily the sorting part.

The warning that we should be focusing on is the one line `table's row count in the metadata is X but Y records have been found and loaded by UCanAccess. All will work fine, but it's better to repair your database.`

Sometimes DBPTK is finding more records, bu

[2016-08-03 10:58] andreaskring commented on #213
@andersbonielsen I have implemented the feature in [this](https://drive.google.com/file/d/0B8hAEqjI-ScYVUlxdGRGeG50bEk/view?usp=sharing) jar. @PhillipTommerholt Could you please check if the export module is behaving as expected?

[2016-08-03 11:15] PhillipTommerholt commented on #241
You are more than welcome to join in.
I agree that it should stop or warn sooner in the process.
But from my point of view I would like it to be the choice of the (human) SIP creator if he/she will make the necessary amendments to the original live database, or the SIP package itself. This is both in order to respect that we as an archive can't say how the institutions's systems should look like (

[2016-08-03 11:18] chalkos commented on #241
Ok. Seems fair.
When you have information regarding this being (or not) a pilot blocker, tell me so I can adjust the issue labels.

[2016-08-03 11:21] PhillipTommerholt commented on #241
:+1:

[2016-08-03 11:38] PhillipTommerholt commented on #213
Yes I will, should I state the same parametres as in SIARD2.0? **-eelpf** and and **-eelfs**

[2016-08-03 11:39] andreaskring commented on #241
@PhillipTommerholt The feature that @chalkos is talking about is already implemented... let's have a quick talk about this. I will contact you.

[2016-08-03 11:57] andreaskring commented on #213
Almost. Use -elpf and -elfs instead

[2016-08-03 12:48] BorisDomajnko commented on #240
It seems that the evidenca_2008.mdb holsd current values and evidenca_2004.mdb holds some  very old "archive" values that are explicitely addressed by the application, and some tables are even ignored (e.g. 2004 Osebe) by the main application in the main mdb file..

Number of lines for these two mdbs:

table___________ evidenca_2004.mdb____evidenca_2008.mdb_____________PostgreSQL (via DBPTK)
Izkaz

[2016-08-03 13:16] chalkos commented on #240
If you convert to SIARD2 and then to PostgreSQL, can you identify any data loss by looking at the original Access database and at the generated PostgreSQL one?

[2016-08-03 13:25] andreaskring commented on #241
@PhillipTommerholt The feature is implemented in [this](https://drive.google.com/file/d/0B8hAEqjI-ScYVE9UUWFxN3loTEU/view?usp=sharing) jar. Could you please check if it is working as expected?

[2016-08-03 13:26] chalkos commented on #240
And is this a pilot blocker issue?

[2016-08-03 16:54] chalkos commented on #213
I think we should keep the arguments consistent. I use `elpf` with the `e` meaning *external* (and the whole thing meaning "external lobs per folder" (this is used `-eelpf` when used with an export module).

Do you also have an argument like this one?
`-eel, --export-external-lobs    (optional) Saves any LOBs outside the siard file.`

[2016-08-04 05:31] PhillipTommerholt commented on #213
In SIARDDK there is no SIARD file and BLOBs always have to be extracted, so if there are BLOBs in the database, they will always lie in certain folders in the SIP package.

[2016-08-04 07:08] andreaskring commented on #213
In SIARDDK there is not an argument like `-eel`, since, as @PhillipTommerholt mentioned, the LOBs are always external. That is the reason why the first "e" in `-eelpf` is not needed.

[2016-08-04 07:12] PhillipTommerholt commented on #241
I am now getting another fatal error on the export from the specific database, so I haven't seen the warning and the tableIndex.xml yet.

[2016-08-04 07:16] andreaskring commented on #241
@PhillipTommerholt Ok, what is the error?

[2016-08-04 07:29] PhillipTommerholt opened #242 "SIARDDK: Schemas without tables causes fatal error"
I have a pilot database, where there are schemas with no tables.
This causes the export to throw a fatal error when creating tableIndex.xml.

I know that SIARD2.0 handles this situation by throwing a warning and a list of the table-less schemas. Since schemas are not preserved in SIARDKDK the SIARDDK-module doesn't need to throw this warning, but if it is easier to use the code from SIARD2.0 it wo

[2016-08-04 07:31] PhillipTommerholt commented on #241
I just created it as an issue:
https://github.com/keeps/db-preservation-toolkit/issues/242

[2016-08-04 11:07] BorisDomajnko opened #243 "Date vs timestamp"
Applications mostly use date as date without times. In databases we have different date and time datatypes and some even have to deal with time zones.
If the source database uses simple date type or the time is never set  (i.e. is masked by app) in such a column (e.g. date with MS Access) dbptk could use DATE as target format. The main benefit would be nicer output (e.g. 2016-08-04 vs. 2016-08-04

[2016-08-05 05:30] andreaskring commented on #242
@PhillipTommerholt For some reason I decided to throw a ModuleExecption, which stops the process, in case of schemas with no tables. I will change this.

[2016-08-05 06:11] andreaskring commented on #242
The issue have been fixed in [this](https://drive.google.com/file/d/0B8hAEqjI-ScYMjA0SnhoZ1hiRlE/view?usp=sharing) jar. @PhillipTommerholt Could you please check it out?

[2016-08-05 06:15] andreaskring commented on #127
@chalkos This issue can be closed

[2016-08-05 08:27] andreaskring commented on #194
The SIARDDK part of the issue has been fixed in [this](https://github.com/magenta-aps/db-preservation-toolkit/tree/issue194_213_241_242) branch. A jar containing the fix can be found [here](https://drive.google.com/open?id=0B8hAEqjI-ScYTmlBMm5WM1ZjMFU)

[2016-08-05 09:29] PhillipTommerholt opened #244 "SIARDDK handling of SQL identifiers"
I have a pilot database, that stops the export process when writing tableIndex.xml.
I believe the problem occurs when it meets a column with a name that does not conform to SQL identifier as defined in tableIndex.xsd.

Error:
`Caused by: org.xml.sax.SAXParseException: cvc-pattern-valid: Value 'Modtagedato(år)' is not facet-valid with respect to pattern '(\p{L}(_|\w)*)|(".*")' for type 'SQLIdentifi

[2016-08-05 09:29] PhillipTommerholt commented on #242
This is fixed :+1:

[2016-08-05 09:30] PhillipTommerholt commented on #241
This is fixed :+1:

[2016-08-05 09:58] PhillipTommerholt commented on #194
I have tested it up against Northwind.
The SIARDDK now gives the default value `"unkown"` and the export succeeds. So in that sense the issue is fixed.
But I am unsure why DBPTK can't retrieve the original query. Just by simply looking in MSMS I can easily see the query for the first view:
![image](https://cloud.githubusercontent.com/assets/15984159/17433059/d32aea2c-5b02-11e6-968b-f15594d972c8.pn

[2016-08-05 10:12] BorisDomajnko commented on #240
No. The include links (table<->mdb file) are done per table. I believe that the unused tables may be ignored.
Unfortunately the latest Access does not allow me to fix the original MDB file to minimize some warnings, maybe I need to find some older version.

[2016-08-05 10:38] chalkos commented on #127
@andreaskring ok. If you have permissions to do it (I don't know if you do), feel free to close the ones that are only about SIARD-DK

[2016-08-05 10:38] #127 closed

[2016-08-05 10:40] chalkos commented on #244
@PhillipTommerholt is this a pilot blocker?

[2016-08-05 10:41] PhillipTommerholt commented on #244
Yes.

[2016-08-05 10:41] chalkos commented on #242
@andreaskring please create a pull request to include these fixes into the master branch.

[2016-08-05 10:44] chalkos commented on #194
Don't worry, I made the decision to remove the "unknown" for SIARD2 because it is optional. Not having a value is, in my opinion, better than having a "*ups, there was a problem*" value. Makes it clearer that something is missing.

[2016-08-05 10:45] chalkos commented on #194
@andreaskring thanks. I'll fix my part after merging your changes into master.

[2016-08-05 10:53] chalkos commented on #240
Maybe an access version between the one used to create the file and the latest has the functionality to upgrade the file. But I'm not experienced with Access.

[2016-08-05 10:57] chalkos commented on #243
agreed.

There is no way for DBPTK to know what the app does, so there is no way for it to know if the app masks the time part.

Since I know from our emails that this is a postgreSQL related issue, I will mark it as such.

[2016-08-05 11:44] PhillipTommerholt commented on #244
It is related to this closed issue: https://github.com/keeps/db-preservation-toolkit/issues/116
The issue was fixed but it seems now that it was only fixed for the special case and not for the general syntax for SQL identifiers.

[2016-08-05 12:13] BorisDomajnko commented on #240
I will have a meeting with the producer, maybe they will be willing to do it in the original environment. Or they will not want to touch the obsolete application (mdb). Real life ingests usualy have such problems :(

[2016-08-09 11:06] chalkos commented on #233
@andreaskring I added a shutdown hook that deletes the files. That should make sure the temporary files are removed at least when dbptk is closing.

[2016-08-09 11:43] andreaskring commented on #233
Ok - thanks for the info. I will have a look at this

2016-08-09 13:06 GMT+02:00 Bruno Ferreira <notifications@github.com>:

--
Andreas Kring
Magenta Aps
Incuba, Åbogade 15
DK-8200 Aarhus N

tel +45 3336 9699
dir +45 8177 1698

http://www.magenta.dk
andreas@magenta.dk

[2016-08-09 12:23] chalkos commented on #237
This "nothing" that you speak of, is it a `NULL`, an empty string or a space?

[2016-08-09 13:07] chalkos commented on #233
@PhillipTommerholt can you test this version?
[dbptk-app-2.0.0-SNAPSHOT-233-1.zip](https://github.com/keeps/db-preservation-toolkit/files/408967/dbptk-app-2.0.0-SNAPSHOT-233-1.zip)

**Changes:**

* The LOBs are stored in a temporary folder and deleted after each table is exported, so you should be able to do the conversion with less free disk space (although if a table has lots of LOBs it may stil

[2016-08-09 13:11] PhillipTommerholt commented on #233
I am looking forward to test this.
I like that it deletes LOBs after each table and for fatal errors :+1:

[2016-08-09 13:19] #231 closed

[2016-08-09 13:51] chalkos commented on #207
(By email) I have asked to delete both `tbl_migration` tables and try again.

[2016-08-09 14:12] chalkos opened #247 "Move temporary LOB files when possible"
Move temporary LOB files when possible which is much faster than doing a stream copy.

This applies to SIARD2 with external LOBs.

[2016-08-09 14:14] chalkos commented on #247
@andreaskring does SIARD-DK save each LOB in its own file? If it does, it can also benefit from moving files from the temporary folder instead of copying them as streams.

[2016-08-10 06:14] BorisDomajnko commented on #243
With MS Access you can enter either 4.5.2010 or 4.5.2010 08:20 so DBPTK will have to show 4.5.2010 00:00:00 and 4.5.2010 08:20:20 as this is the same column. Maybe in the future we will have a DBPTK configuration file (i.e. to enforce a mask on a certain column) if more ideas will come up.

[2016-08-10 06:44] BorisDomajnko commented on #237
"Nothing" in Access column means the field has not been edited yet (no character has been entered by keyboard). I do not now if this is NULL or string with length 0.

Both fields from the example above are configured with: Allow Zero Length: Yes
If I export as XML, this is the definition in the exported xsd:
<xsd:element name="ULICA_HS_D" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
<xs

[2016-08-10 06:46] andreaskring commented on #247
@chalkos  In SIARDDK, the content of a BLOB is fetched via the `createInputStream()` method from the BinaryCell class and written directly as a single file to the correct location within the SIARDDK folder - see [this](https://github.com/keeps/db-preservation-toolkit/blob/master/dbptk-core/src/main/java/com/databasepreservation/modules/siard/out/content/SIARDDKContentExportStrategy.java#L345). At

[2016-08-10 12:25] PhillipTommerholt commented on #233
I have some good news and it is that it seems that LOBs are moved/deleted when a fatal error occurs. Only two lobs reside in the temp folder after I am getting a fatal error.

I am getting an error that only shows on the CMD on Windows which is where I run DPBTK.
The last line in the dbptk-app.log just says

. The second last line was writing lob number 488.935 which is not the last lob in the tab

[2016-08-10 12:47] chalkos commented on #233
Did this work on windows in beta5?

I may have introduced a new bug... 😨

Lets try to diagnose it: check which parameters you can use (tmp file, etc) to complete the conversion without error on that windows machine, then try to use the same parameters with the SNAPSHOT-233-1 version (don't forget to remove the LOBs from the temp folder after using beta5).

This error may be intermittent, since it

[2016-08-11 08:56] chalkos commented on #237
I edited your comment to format the code as such (using ```).

From the XSD I can see that the text field can have length 0, but it can not be NULL (omitted).
So it makes total sense that after export&restore the value is '' (an empty string). This is not a bug in DBPTK, as it is correctly extracting the values from the database.

I can not make DBPTK change this information, as having an empty st

[2016-08-11 09:04] mezeijozsef commented on #232
Yes i left out the first one, but now attached a new .log:

[dbptk-app.log.txt](https://github.com/keeps/db-preservation-toolkit/files/412833/dbptk-app.log.txt)

[2016-08-11 09:05] chalkos commented on #243
A mask would be something related to the presentation of these values, not their extraction.
They should be extracted as provided by the DBMS. Then, when displaying them, the mask could be used.

Since data visualization is not part of DBPTK, I will close this issue.

[2016-08-11 09:05] #243 closed

[2016-08-11 09:34] BorisDomajnko commented on #237
Please check my mail from 2.Aug.2016 with screen snapshot. The issue is that when there is no value entered in the source database field, in the target database we get two characters: ' and ' instead of "nothing". You should not see ' as data unless somebody has actualy typed it.

[2016-08-11 09:53] PhillipTommerholt commented on #233
It is the same parametres as I used for the succesful exports of one database.

I have succeeded wtih beta5 with LOBs inside the SIARDfile
I have succeeded wtih beta5 with LOBs outside the SIARDfile
I failed with SNAPSHOT-233 with LOBs outside the SIARD-file three times. The first two times it was the same parametre, the third I changed the number of files in one lobfolder.  All three attempts fai

[2016-08-11 09:58] chalkos commented on #232
The problem is that `VARCHAR2` has a maximum size of 2000 bytes according to [this documentation](https://docs.oracle.com/cd/B28359_01/server.111/b28320/limits001.htm) and DBPTK is converting it to `VARCHAR(20)`. When inserting the values back to Oracle it fails because it uses the type `VARCHAR(20)` and there are values longer than 20 characters (the data is inserted in SIARD, so there is no data

[2016-08-11 10:14] andreaskring commented on #247
@chalkos Ok - I understand what you are saying now. We can implement this (either method is ok with me). Currently, I have other tasks that needs priority though, but when there will be more time it is fine with me.

[2016-08-11 10:15] chalkos commented on #237
Yes, you are right, that is still an issue. I will now try to guide you so you can tell me if this problem is present in the SIARD file or somewhere else (probably the PostgreSQL export module or the PostgreSQL viewer).

Lets strat by trying to find the value in the SIARD file. It is in a `tableN.xml` file, but there are a few  of those inside the SIARD. To know the exact folder name, check the `h

[2016-08-11 10:18] chalkos commented on #233
Ok, thanks for the confirmation 👍
I will find the problem and fix it.

[2016-08-11 10:31] chalkos commented on #247
Ok. When I'm done with more urgent issues I'll try to implement this in a way that does not require a lot of modifications in the SIARD modules, so I'll probably change 1 or 2 lines in SIARD-DK to support this enhancement and save you a few minutes 😉

[2016-08-11 10:45] chalkos commented on #238
Can you try this version:
[dbptk-app-2.0.0-SNAPSHOT-246-1.zip](https://github.com/keeps/db-preservation-toolkit/files/412986/dbptk-app-2.0.0-SNAPSHOT-246-1.zip)

It should fix this problem as well as #239

[2016-08-11 10:46] chalkos commented on #239
Can you try this version:
[dbptk-app-2.0.0-SNAPSHOT-246-1.zip](https://github.com/keeps/db-preservation-toolkit/files/412986/dbptk-app-2.0.0-SNAPSHOT-246-1.zip)

It should fix this problem as well as #238

[2016-08-11 10:51] chalkos commented on #207
It was the table conflict that was making the following queries fail.

[2016-08-11 10:51] #207 closed

[2016-08-11 10:57] andreaskring commented on #247
@chalkos Great - thanks a lot :)

[2016-08-11 11:01] chalkos commented on #232
@mezeijozsef could you tell me the type of the column `BKD` in table `BK01` and schema `BUR_TMP1`?

[2016-08-11 11:07] chalkos commented on #232
Meanwhile please try this version that should fix this problem: [dbptk-app-2.0.0-SNAPSHOT-232-1.zip](https://github.com/keeps/db-preservation-toolkit/files/413011/dbptk-app-2.0.0-SNAPSHOT-232-1.zip)

[2016-08-11 11:41] chalkos commented on #233
Can you try this version?
[dbptk-app-2.0.0-SNAPSHOT-233-2.zip](https://github.com/keeps/db-preservation-toolkit/files/413069/dbptk-app-2.0.0-SNAPSHOT-233-2.zip)

[2016-08-11 11:43] BorisDomajnko commented on #237
It is c16. For Kaplja vas 10 we have
'''xml
	<c14>Kaplja vas</c14>
	<c15>\u0020\u002010</c15>
	<c16/>
'''
Is it possible that DBPTK changes <c16/> when populating a PostgreSQL table?

[2016-08-11 11:44] chalkos commented on #237
Please put the xml code between ``` so it is correctly formatted.

[2016-08-11 12:12] BorisDomajnko commented on #238
No:
d:\projekti\E-ARK>java -Xmx1000m -Dfile.encoding=UTF-8 -jar dbptk-app-2.0.0-SNAPSHOT-246-1.jar -i postgresql -ih pluton -idb testA -iu xxx -ip xxx -ide -ipn 5432 -e siard-2 -ef out_pg1.siard
      Converting database: postgresql to siard-2
      Initializing target database
      Converting database structure
      Obtaining table structure for public.arhiv_log
      Obtaining table structure

[2016-08-11 12:14] BorisDomajnko commented on #237
[code]

[2016-08-11 12:28] PhillipTommerholt commented on #233
Hi,
it is the same CMD message at 97% and no info in the log.

[2016-08-11 12:38] PhillipTommerholt commented on #233
Another information: the export doesn't stop. It keeps throwing exceptions.

[2016-08-11 12:39] chalkos commented on #237
Then the information is correct in SIARD.

What is the application that displays the value as `''`? Is it the PHP dbviewer or PostgreSQL?

[2016-08-11 12:59] BorisDomajnko commented on #237
pgAdmin III (table browser). But if I export table as text, a get correctly: Kaplja vas\t  10\t\t.

[2016-08-11 13:00] chalkos commented on #238
Could you provide the remainder of the log file? It seems odd that it would end just after

[2016-08-11 13:02] BorisDomajnko commented on #238
at org.postgresql.core.v3.QueryExecutorImpl.receiveErrorResponse(QueryExecutorImpl.java:2284)
	at org.postgresql.core.v3.QueryExecutorImpl.processResults(QueryExecutorImpl.java:2003)
	at org.postgresql.core.v3.QueryExecutorImpl.execute(QueryExecutorImpl.java:200)
	at org.postgresql.jdbc.PgStatement.execute(PgStatement.java:424)
	at org.postgresql.jdbc.PgStatement.executeWithFlags(PgStatement.java:

[2016-08-11 13:10] chalkos commented on #237
Then it is not a DBPTK problem. pgAdmin adds the `'` as a visual clue that there is a value in there, but it has length zero.

I don't think there is anything that DBPTK can do about that. Should I close the issue?

[2016-08-11 13:15] chalkos commented on #238
Thanks. That is much better :)
The full error message is often essential for me to track down the problem.

Please try this new version [dbptk-app-2.0.0-SNAPSHOT-246-2.zip](https://github.com/keeps/db-preservation-toolkit/files/413247/dbptk-app-2.0.0-SNAPSHOT-246-2.zip)

[2016-08-11 13:39] BorisDomajnko commented on #237
I agree. I cannot provide more information at this point of time except that this behavior of pgAdmin has not been noticed with other tests or applications.

[2016-08-11 13:39] #237 closed

[2016-08-11 13:40] chalkos commented on #233
this started happening in SNAPSHOT-233-2 ?

Please try this one [dbptk-app-2.0.0-SNAPSHOT-233-3.zip](https://github.com/keeps/db-preservation-toolkit/files/413190/dbptk-app-2.0.0-SNAPSHOT-233-3.zip) (I have removed some functionality to check if it was responsible for the error)

[2016-08-11 13:47] BorisDomajnko commented on #238
two (same?) errors, but maybe we will need to continue on Wednesday:
2016-08-11 15:44:22,685 [main] DEBUG (c.d.m.j.i.JDBCImportModule) count query: SELECT COUNT(*) FROM "sch_testA"."users"
2016-08-11 15:44:22,686 [main] DEBUG (c.d.m.j.i.JDBCImportModule) Counted 2 rows
2016-08-11 15:44:22,700 [main] DEBUG (c.d.m.j.i.JDBCImportModule) Database structure obtained
2016-08-11 15:44:22,701 [main] INFO

[2016-08-11 13:56] BorisDomajnko commented on #233
it should be "sch_testA"."users"

2016-08-11 15:54:03,520 [main] DEBUG (c.d.m.j.i.JDBCImportModule) count query: SELECT COUNT(*) FROM "sch_testa"."users"
2016-08-11 15:54:03,523 [main] DEBUG (c.d.m.j.i.JDBCImportModule) Closing connection to source database
2016-08-11 15:54:03,524 [main] ERROR (c.d.Main) Connection error while importing/exporting
com.databasepreservation.model.exception.ModuleExce

[2016-08-11 13:59] chalkos commented on #238
Something is happening under the hood that is changing the query.

The log says that I'm executing this query:
`SELECT id, name FROM sch_testA.users`

But then postgreSQL complains that
`relation "sch_testa.users" does not exist`

but I used the correct name when making the query: `sch_testA.users`

It seems that the query is being changed (maybe to lower case) before it is sent to the server. Whi

[2016-08-12 05:58] PhillipTommerholt commented on #233
It might have been in SNAPSHOT-233-1 too. But I first noticed it now.

[2016-08-12 06:42] PhillipTommerholt commented on #233
SNAPSHOT-233-3 is now way beyond the 97% in the table.
It has exported the table fully and is working on the rest of the tables.
The successful run with beta5 took 16 hours, so I will let you know when SNAPSHOT-233-3 has exported the entire database.

[2016-08-12 07:11] PhillipTommerholt opened #250 "SIARDDK can't handle bit varying"
This is so far not a pilot blocker.

When trying to export to SIARDDK from MS SQL Server, DBPTK stops the export process when it meets the data type BIT VARYING.

There are BIT VARYING in system tables. Se for example Northwind. System tables are not preserved in DK but there might be data types in "the real" tables. In AdventureWorks2012 there are datatypes in the tables that SIARDDK can't handle

[2016-08-12 07:52] Laurira opened #251 "Exporting to mysql error: Packet for query is too large"
Description:

Bruno: "I am sending multiple INSERT queries at once to MySQL (like 100 or so at a time).
This problem happens when the length of those queries combined exceeds 4KB (4194304 Bytes). And those big queries are not run on the server, so the data is in the SIARD but does not get converted to MySQL. So I will need to check this limit and avoid reaching it somehow…".

At the moment this is

[2016-08-12 08:02] andreaskring commented on #247
@chalkos By the way... there may be a challenge implementing this for SIARDDK. In SIARDDK it is mandatory to calculate the md5sum of all files and the current code handles this by putting the LOBs streams through a wrapper as seen [here](https://github.com/keeps/db-preservation-toolkit/blob/master/dbptk-core/src/main/java/com/databasepreservation/modules/siard/out/metadata/FileIndexFileStrategy.ja

[2016-08-12 08:56] PhillipTommerholt commented on #213
This works :+1:

[2016-08-12 10:20] PhillipTommerholt commented on #233
Great news!
The export with SNAPSHOT-233-3 is finished.
3.3 hours!

I can't compare direct with the beta5 times because I shifted harddisks and connection type. But something is indeed interesting:

**For the BETA5 I exported to  HDD1:**
For LOBs inside the SIARD-file it took 8.4 hours.
For LOBs outside the SIARD-file it took 16.9 hours.

**For the SNAPSHOT-233-3 I exported to HDD2:**
For LOBs ins

[2016-08-15 07:20] PhillipTommerholt commented on #194
@chalkos
Have you seen this in my comment above:

https://cloud.githubusercontent.com/assets/15984159/17433059/d32aea2c-5b02-11e6-968b-f15594d972c8.png

Should I open a new issue for this specific matter? It goes for both SIARD1.0, 2.0 and SIARDDK.

[2016-08-16 09:31] chalkos commented on #251
Maybe this can be fixed by obtaining this limit and avoid reaching it (and warn if it is too low).

[2016-08-16 09:36] chalkos commented on #247
No worries there. SIARD-DK could receive the blob `OutputStream` directly from the DBMS and wrap the `DigestOutputStream` around that one instead of around a stream that comes from a file.

[2016-08-16 09:46] chalkos commented on #233
I think you just have a better processor/disk/connection, because my recent changes in SNAPSHOT-233-3 could not have resulted in a performance improvement.

In fact in SNAPSHOT-233-3 I just removed part of the code that I suspected was causing the error. Turns out I was right. I'll need to try to understand why it has the  and then I'll send you a new version to test.

Can you get me some of those

[2016-08-16 09:57] chalkos commented on #194
@PhillipTommerholt I think that would be better. this issue was fixed and closed, then after all it needed some adjustments, so it was open again, then waiting on a pull request, which is now created... if we add more problems this will get too confusing very soon 😉

[2016-08-16 11:57] #194 closed

[2016-08-16 11:57] #213 closed

[2016-08-16 11:57] #241 closed

[2016-08-16 11:57] #242 closed

[2016-08-16 12:45] PhillipTommerholt commented on #233
You can see it in the last line here:
https://cloud.githubusercontent.com/assets/15984159/17553401/e7efa89c-5f05-11e6-86c8-a30c2e8278c0.PNG
It kept going with different "threads" with different numbers.

[2016-08-17 07:23] PhillipTommerholt commented on #233
The change from BETA5 to SNAPSHOT-233-(1/2/3) is that files in the temporary folder are now removed during the export process. In the export I had 1,3 million files in one folder on a disk on my Windows (NTFS filesystem). As you can see from the top answer of this thread:
http://stackoverflow.com/questions/197162/ntfs-performance-and-large-volumes-of-files-and-directories  the file system as such

[2016-08-18 11:41] BorisDomajnko commented on #240
The producer decided that they will not touch (repair) the original mdb files in order to keep the integrity. They want to deliver the records in the same state as it was frozen when the app was last shut down years ago (and poorly maintained??).

[2016-08-18 11:49] BorisDomajnko commented on #239
(outdated reply, also in mails 11.Aug.))
-e list-tables works but -e siard-2 reports error:
2016-08-18 13:46:09,942 [main] DEBUG (c.d.m.j.i.JDBCImportModule) count query: SELECT COUNT(*) FROM "sch_testA"."users"
2016-08-18 13:46:09,943 [main] DEBUG (c.d.m.j.i.JDBCImportModule) Counted 2 rows
2016-08-18 13:46:09,955 [main] DEBUG (c.d.m.j.i.JDBCImportModule) Database structure obtained
2016-08-18 13

[2016-08-18 13:03] chalkos commented on #240
Unfortunately there is nothing DBPTK can do about corrupted databases, except try to migrate as much data as possible and warn that something might have been lost (which it already does).

The producer might decide to submit multiple representations. In that case they could submit 2 or 3 representations:

1. the original mdb files
2. (optionally) the mdb files after being repaired by Access
3. the

[2016-08-18 13:21] chalkos commented on #239
I believe this is exactly the same error you posted on #238.

This issue is so similar to #238 that I will just close this one and fix both in #238.

[2016-08-18 13:21] #239 closed

[2016-08-18 13:22] chalkos commented on #238
Since this is very similar to #239, I will fix both in this issue.

[2016-08-18 17:44] chalkos commented on #233
This version should:

- shortcut LOB data as much as possible (avoiding the creation of temporary files when possible)
- have a upper limit of N LOBs in the tmp folder (which are the ones that are being used, because queries are made in batches of N, e.g. 100)
- remove all lobs in the temporary folder, even when the application crashes (by "normal" fatal errors or by critical JVM errors like out o

[2016-08-19 14:13] andreaskring commented on #244
@PhillipTommerholt The issue is fixed in [this](https://drive.google.com/file/d/0B8hAEqjI-ScYRWNDbDFaOGY0ZTg/view?usp=sharing) jar. Could you test, if it is working as expected? (I will make a pull request with the fix)

[2016-08-22 06:28] BorisDomajnko commented on #240
I agree. During ingest we will have to (manually) analyse the data and compare the original and repaired mdb. I hope we will find out that the number of records will be the same.

[2016-08-22 11:51] PhillipTommerholt opened #254 "SIARDDK: fileIndex.xml only encorporates tables from first schema"
I am using SNAPSHOT_fixIssue244.
I have a database with tables in several schemas.
There are 27 tables in the first schema and 80 tables in total.
tableIndex.xml is perfect and 80 tables are also exported.
It is only fileIndex.xml that is incomplete.

I guess this has something to do when tables in several schemas was fixed, but we missed to also handle it correctly in fileIndex.xml.

This is not

[2016-08-23 08:12] PhillipTommerholt commented on #244
This is fixed :+1:

[2016-08-23 11:39] chalkos commented on #240
Are you planning on repairing the database yourself and checking if the problem still happens and if the contents are correct?

Or should I just treat this as solved and close the issue?

[2016-08-24 12:31] BorisDomajnko commented on #240
You can close it. The technical comparison will be done as part of manual ingest activities.

[2016-08-25 10:13] BorisDomajnko opened #255 "LOBS with PostgreSQL"
I created the the table with column type bytea and inserted some characters there.
Creation of a SIARD-2 package (from PostgreSQL): OK
Restore to (to PostgreSQL): OK
Creation a package (from PostgreSQL) with option: --export-external-lobs: OK
  (and I can see folder out_pg1.siard_lobseg_1 with the contents)
Restore to (to PostgreSQL): error
  (I did not use any special option! Is this supposed to

[2016-08-25 11:01] chalkos commented on #255
Could you check if this also happens when exporting a package created (from PostgreSQL) **without** option `--export-external-lobs` to postgreSQL.

I had a similar problem while I was improving the handling of LOBs and I fixed it (but I haven't released it yet). I'm trying to understand if this is a different problem or the one I already fixed.

[2016-08-25 11:39] BorisDomajnko commented on #255
As I wrote above, without --export-external-lobs it works and all columns are re-created in the target environment.

[2016-08-25 11:48] chalkos commented on #255
Sorry, I did not understand that at first, I thought all the steps were needed to reproduce the issue. Thank you for testing different scenarios.

Please try using this version [dbptk-app-2.0.0-SNAPSHOT-255-1.zip](https://github.com/keeps/db-preservation-toolkit/files/436860/dbptk-app-2.0.0-SNAPSHOT-255-1.zip) to see if the problem is fixed in that version.

[2016-08-25 12:41] BorisDomajnko commented on #255
TEST1:
- Creation of a SIARD-2 package (from PostgreSQL): exception, but package created
- Restore to (to PostgreSQL): OK
TEST2:
- Creation a package (from PostgreSQL) with option: --export-external-lobs: OK
- Restore to (to PostgreSQL):  ERROR Fatal error: Unexpected exception (null)

TEST1:
d:\projekti\E-ARK>java -Xmx1000m -Dfile.encoding=UTF-8 -jar dbptk-app-2.0.0-SNAPSHOT-255-1.jar -i postgres

[2016-08-25 13:21] chalkos commented on #255
Can you try TEST2 with this version [dbptk-app-2.0.0-SNAPSHOT-255-2.zip](https://github.com/keeps/db-preservation-toolkit/files/437099/dbptk-app-2.0.0-SNAPSHOT-255-2.zip) and send me the log? This version only adds more information to the log. the error will still happen.

[2016-08-25 13:26] BorisDomajnko commented on #255
d:\projekti\E-ARK>java -Xmx1000m -Dfile.encoding=UTF-8  -jar  dbptk-app-2.0.0-SNAPSHOT-255-2.jar -e postgresql -eh 10.0.92.38 -edb eark_testB -eu pg_eark -ep x -ede -epn 5432 -i siard-2 -if out_
pg1.siard
      Converting database: siard-2 to postgresql
      Target database does not exist. Creating database eark_testB
      Exporting database structure
      Exporting schema structure for schema

[2016-08-25 14:02] chalkos commented on #255
This seems to be a windows issue. Please try this version [dbptk-app-2.0.0-SNAPSHOT-255-3.zip](https://github.com/keeps/db-preservation-toolkit/files/437205/dbptk-app-2.0.0-SNAPSHOT-255-3.zip)

[2016-08-26 06:08] BorisDomajnko commented on #255
Now it works!
If I used  --export-external-lobs, are the LOBS always populated into target DB, but in addition the access tool can use out_pg1.siard_lobseg_1\  files?

[2016-08-29 11:58] PhillipTommerholt opened #256 "SIARDDK: wrong table namespaces when database has several schemas"
I am using SNAPSHOT_fixIssue244.
I have a database with tables in several schemas.
After successful export the namespaces for the different tables are wrong.
For example table4.xml has a namespace stating that this is table1.xml.

I guess it is related to #254 and this is a pilot blocker.

[2016-08-30 08:55] chalkos commented on #255
Yes, that folder is where the large files from the database are stored as files. They are not in the out_pg1.siard file anymore.

If you had a lot of LOBs (or used different parameters), multiple folders like:

* out_pg1.siard_lobseg_1\
* out_pg1.siard_lobseg_2\
* out_pg1.siard_lobseg_3\
* ...

would be created.

I will integrate the fix in the main code and then close this issue.

[2016-08-30 08:56] Laurira opened #257 "backward compability not supported"
Description: At the moment when new version of dbptk comes out then we can not use old SIARD files generated with older versions.

[2016-08-30 09:30] chalkos commented on #257
DBPTK is being developed and tested, and does not ensure, at this phase, that the generated SIARD files are 100% correct, complete and valid (otherwise it would be finished :smile: ).

The tool should always be compatible with correct and complete SIARD packages. As an example, if DBPTK was generating an invalid SIARD packages 2 versions ago, it should not even be able to read those, because they

[2016-08-30 09:31] chalkos commented on #257
So the tool will be compatible with old SIARD files, generated by older versions, as long as those were valid SIARD files.

[2016-08-30 09:59] chalkos commented on #256
@PhillipTommerholt is this a pilot blocker?

[2016-08-30 12:45] chalkos commented on #247
What I describe in my previous comment is already implemented in #245. I plan to merge that soon.

[2016-08-30 12:45] #247 closed

[2016-08-30 13:23] chalkos commented on #233
@PhillipTommerholt I have improved that version. Please use this newer one in your tests:
[dbptk-app-2.0.0-SNAPSHOT-233-5.zip](https://github.com/keeps/db-preservation-toolkit/files/444974/dbptk-app-2.0.0-SNAPSHOT-233-5.zip)

I will wait for your feedback before merging these changes.

[2016-08-30 13:39] PhillipTommerholt commented on #233
I will give you feedback asap, hopefully this week.

[2016-08-30 13:41] PhillipTommerholt commented on #256
Yes.

[2016-08-31 06:28] BorisDomajnko commented on #255
I suggest we modify the help text with the reminder:
now:
 -eel, --export-external-lobs    (optional) Saves any LOBs outside the siard file.
new:
 -eel, --export-external-lobs    (optional) Saves any LOBs outside the siard file. You will need to archive them separately.

[2016-08-31 08:17] chalkos commented on #255
DBPTK converts databases to SIARD and SIARD back to DBMS. It should have no say in how SIARD (or anything else for that matter) is archived. Therefore I don't think your addition is adequate, since it assumes the archive will do or will want to do things in a certain way.

[2016-08-31 09:17] BorisDomajnko commented on #255
You are right: created siard file and the lob folders are in the same place. From here the SIP (one or more) can be created.
In the test environment this folder is less transparent because of many repeations of test scenarios.

[2016-09-01 10:15] #244 closed

[2016-09-02 06:42] BorisDomajnko commented on #255
BTW, this topic is described in "E-ARK SIP Pilot Specification" (EARK_D3_3_01.pdf), chapter 4.3 Relational databases.

[2016-09-06 07:19] PhillipTommerholt opened #259 "SIARDDK: documents/document folders not assigned unique numbers"
This is a pilot blocker.

I have a database with LOBs where DBPTK exports succesfully.
The end product, however, does not conform to "bek. 1007".

DBPTK assigns documents unique IDs within the different docCollections (starting from ID=1).
IDs must be unique within the whole SIP package.

[2016-09-06 08:32] PhillipTommerholt commented on #233
I used dbptk-app-2.0.0-SNAPSHOT-233-5 and exported with LOBs outside the SIARD-file. I set the maximum amount to 18.000 LOBs per folder.

During  the process I tried to open the temp folder. I took 10 minutes to open the folder and I could see a lot of LOBs in the folder. There was more than 100.000 but the system was so slow that it did not finish counting the files in the folder. I aborted the e

[2016-09-06 09:09] PhillipTommerholt commented on #233
Additional info:
I actually didn't see the CTRL +C command when I aborted in CMD
![ctrlc](https://cloud.githubusercontent.com/assets/15984159/18268029/52e832a0-7422-11e6-85bd-ac8e2ff9f094.PNG)

[2016-09-06 13:31] chalkos commented on #233
Were you sure that the temp folder was empty before starting the extraction?

This may be a windows-related problem...

[2016-09-07 06:55] PhillipTommerholt commented on #250
This is now a pilot blocker.

[2016-09-07 07:49] PhillipTommerholt commented on #233
Hi Bruno,
I am pretty sure, but I can't reproduce it, so something must have been wrong
Maybe I accidently used BETA-5 instead of 233-5.
Either way, disregard my feedback from yesterday, sorry.

[2016-09-07 08:50] chalkos commented on #233
Ok. So does this mean that it working for your database with a lot of LOBs?

Even when using `CTRL+C`? I don't think you are supposed to see CTRL+C on the screen when you press it, that is not a problem.

I really need to be sure whether this is working or not.

[2016-09-07 10:49] PhillipTommerholt commented on #233
Hi Bruno,

It is working :+1:

[2016-09-07 11:30] mezeijozsef commented on #232
Sorry for the late answer Bruno. There are still errors during ingest. I attached the log:
[dbptk-app.log.txt](https://github.com/keeps/db-preservation-toolkit/files/458937/dbptk-app.log.txt)

[2016-09-07 11:44] mezeijozsef commented on #232
The column type is varchar2 60byte.

[2016-09-07 14:36] #233 closed

[2016-09-07 14:36] #238 closed

[2016-09-07 15:00] #220 closed

[2016-09-07 15:14] chalkos commented on #232
@mezeijozsef please try this version [dbptk-app-2.0.0-SNAPSHOT-232-2.zip](https://github.com/keeps/db-preservation-toolkit/files/459530/dbptk-app-2.0.0-SNAPSHOT-232-2.zip)

[2016-09-08 09:12] mezeijozsef commented on #232
Seems like the same issue with this version:
[dbptk-app.log.txt](https://github.com/keeps/db-preservation-toolkit/files/461229/dbptk-app.log.txt)

[2016-09-08 09:28] chalkos commented on #232
Seems like you tried the export with the old version (v2.0.0-SNAPSHOT-232-1). Could you use dbptk-app-2.0.0-SNAPSHOT-232-2 that I provided above?

[2016-09-08 09:35] mezeijozsef commented on #232
First I used the first version by mistake, i stopped the process and used the 2. version for export/import/export

[2016-09-08 09:38] chalkos commented on #232
Sorry, I started in the first error and it was the same so I checked the version and it was v2.0.0-SNAPSHOT-232-1. You are right, v2.0.0-SNAPSHOT-232-2 is used further down the logfile.

[2016-09-08 09:57] chalkos commented on #232
The issue should be fixed on this one [dbptk-app-2.0.0-SNAPSHOT-232-3.zip](https://github.com/keeps/db-preservation-toolkit/files/461315/dbptk-app-2.0.0-SNAPSHOT-232-3.zip)

[2016-09-08 11:29] mezeijozsef commented on #232
There was no error message this time and the files are the same size. Seems OK :) :+1:

[dbptk-app.log.txt](https://github.com/keeps/db-preservation-toolkit/files/461492/dbptk-app.log.txt)

[2016-09-08 12:54] #232 closed

[2016-09-08 13:35] chalkos commented on #255
This has been fixed in #245

[2016-09-08 13:35] #255 closed

[2016-09-08 13:36] #240 closed

[2016-09-12 09:38] PhillipTommerholt commented on #223
New updated schemas folder.
Schemas also allow wav-files in document folders.
[standard.zip](https://github.com/keeps/db-preservation-toolkit/files/466986/standard.zip)

[2016-09-12 10:38] andreaskring commented on #250
@PhillipTommerholt There is a problem with the BIT VARYING datatype since it is not supported in the import phase of the DB extraction. I have tried exporting data from a PostgreSQL DB containing a table with a BIT VARYING column, and I get this error:

`2016-09-12 12:32:09,715 [main] DEBUG (c.d.m.j.i.JDBCDatatypeImporter) Unsupported JDBC type, code: 1111
2016-09-12 12:32:09,715 [main] DEBUG (c.d

[2016-09-12 19:03] andreaskring commented on #259
@PhillipTommerholt Fixed in #261 . Could you please check, if it is working ok in your end?

[2016-09-12 19:03] andreaskring commented on #256
@PhillipTommerholt Fixed in #261 . Could you please check, if it is working ok in your end?

[2016-09-12 19:03] andreaskring commented on #254
@PhillipTommerholt Fixed in #261 . Could you please check, if it is working ok in your end?

[2016-09-12 19:03] andreaskring commented on #223
@PhillipTommerholt Fixed in #261 . Could you please check, if it is working ok in your end?

[2016-09-12 19:04] andreaskring commented on #222
@PhillipTommerholt Fixed in #261 . Could you please check, if it is working ok in your end?

[2016-09-16 12:46] PhillipTommerholt commented on #256
This has been fixed.

[2016-09-16 12:46] PhillipTommerholt commented on #254
This has been fixed.

[2016-09-16 12:53] PhillipTommerholt commented on #223
This is not fixed.
The schemas has been altered to include .bin files in document folders.
These are not allowed in SIARDDK and it is not allowed to alter the standard schemas, see 4.F.2 in bek. 1007 and appendix 8.
We should talk about this on Skype before fixing this :-)

[2016-09-16 12:54] PhillipTommerholt commented on #223
It is a small detail, not an urgent issue.

[2016-09-16 12:55] PhillipTommerholt commented on #222
This is fixed.

[2016-09-16 12:57] chalkos commented on #223
@andreaskring tell me if you need me to upload a new bindings-siarddk to artifactory, so travis can use it. I can fetch your branch and deploy your new version (just make sure to bump version numbers every time you make changes to the bindings-siarddk, otherwise strange problems may appear).

[2016-09-16 13:29] PhillipTommerholt commented on #259
I have a 5-8hour export running.
So far I can see that documents in the different docCollections are Unique :+1:

But I have to wait to the export finishes in order to find the tables and see if docID's also are correct there. So if the export succeeds I can give a final answer on monday.

[2016-09-18 18:41] andreaskring commented on #223
@PhillipTommerholt About the .bin files - we have a small problem with these... I had to change the XML schemas a bit in order for allowing the .bin files during export - otherwise the JAXB lib will fail when marshalling. I agree that we should have a talk about this problem on Skype. @chalkos Ok thanks. I will notify you when I have to make changes to bindings-siarddk.